{{define "chart"}}
<!-- chart -->
<!-- ======================= CHART SECTION ======================= -->
<div class="qt-vertical-padding-l qt-content-primary-dark qt-section">
  <div class="qt-container qt-negative">
    <h3 class="qt-caption-med"><span>Music Chart</span></h3>
    <ul class="collapsible qt-chart-tracklist qt-spacer-m" data-collapsible="accordion">
      <!-- CHART TRACK ========================= -->
      <li class="qt-part-chart qt-chart-track qt-negative qt-card-s">
        <div class="qt-chart-table collapsible-header qt-content-primary">
          <div class="qt-position">
            <img src="imagestemplate/thumb-170-170.jpg" class="qt-chart-cover" alt="Chart track" width="170" height="170">
            <span>10</span>
          </div>
          <div class="qt-titles">
            <h3 class="qt-ellipsis qt-t">Last night a Dj Saved My Life</h3>
            <p>Dj Phoenix Da Housemat feat Emix Bizz</p>
          </div>
          <div class="qt-action">
            <a href="#purchase-link" class="qt-btn qt-btn-ghost qt-btn-l"><i class="dripicons-cart"></i></a>
          </div>
        </div>
        <div class="collapsible-body qt-paper">
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </li>
      <!-- CHART TRACK END ========================= -->
      <!-- CHART TRACK ========================= -->
      <li class="qt-part-chart qt-chart-track qt-negative qt-card-s">
        <div class="qt-chart-table collapsible-header qt-content-primary">
          <div class="qt-position">
            <img src="imagestemplate/thumb-170-170.jpg" class="qt-chart-cover" alt="Chart track" width="170" height="170">
            <span>10</span>
          </div>
          <div class="qt-titles">
            <h3 class="qt-ellipsis qt-t">Last night a Dj Saved My Life</h3>
            <p>Dj Phoenix Da Housemat feat Emix Bizz</p>
          </div>
          <div class="qt-action">
            <a href="#purchase-link" class="qt-btn qt-btn-ghost qt-btn-l"><i class="dripicons-cart"></i></a>
          </div>
        </div>
        <div class="collapsible-body qt-paper">
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </li>
      <!-- CHART TRACK END ========================= -->
      <!-- CHART TRACK ========================= -->
      <li class="qt-part-chart qt-chart-track qt-negative qt-card-s">
        <div class="qt-chart-table collapsible-header qt-content-primary">
          <div class="qt-position">
            <img src="imagestemplate/thumb-170-170.jpg" class="qt-chart-cover" alt="Chart track" width="170" height="170">
            <span>10</span>
          </div>
          <div class="qt-titles">
            <h3 class="qt-ellipsis qt-t">Last night a Dj Saved My Life</h3>
            <p>Dj Phoenix Da Housemat feat Emix Bizz</p>
          </div>
          <div class="qt-action">
            <a href="#purchase-link" class="qt-btn qt-btn-ghost qt-btn-l"><i class="dripicons-cart"></i></a>
          </div>
        </div>
        <div class="collapsible-body qt-paper">
          <p>
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </li>
      <!-- CHART TRACK END ========================= -->
    </ul>
    <p class="aligncenter qt-spacer-m">
      <a href="#" class="qt-btn qt-btn qt-btn-l qt-btn-primary">View full chart</a>
    </p>
  </div>
  <div class="qt-header-bg" data-bgimage="imagestemplate/full-1600-700.jpg">
    <img src="imagestemplate/full-1600-700.jpg" alt="Featured image" width="690" height="302">
  </div>
</div>
<!-- chart -->
{{end}}
