{{define "head"}}
<!-- head -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FANTAS FM -  BEM VINDO AO NOVO SITE DA FANTAS FM!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- icons -->
  <link href='fonts/dripicons/webfont.css' rel='stylesheet' type='text/css'>
  <link href='fonts/qticons/qticons.css' rel='stylesheet' type='text/css'>

  <!-- slick slider -->
  <link href='components/slick/slick.css' rel='stylesheet' type='text/css'>

  <!-- swipebox -->
  <link href='components/swipebox/src/css/swipebox.min.css' rel='stylesheet' type='text/css'>

  <!-- countdown component -->
  <link rel="stylesheet" type="text/css" href="components/countdown/css/jquery.classycountdown.css" />

  <!-- QT 360 PLAYER component -->
  <link rel="stylesheet" type="text/css" href="components/soundmanager/templates/qtradio-player/css/flashblock.css" />
  <link rel="stylesheet" type="text/css" href="components/soundmanager/templates/qtradio-player/css/qt-360player-volume.css" />


  <!-- Main css file -->
  <link rel="stylesheet" href="css/qt-main.css"><!-- INCLUDES THE CHOSEN FRAMEWORK VIA #IMPORT AND SASS -->

  <!-- Custom typography settings and google fonts -->
  <link rel="stylesheet" href="css/qt-typography.css">
</head>
<!-- head -->
{{end}}
