{{define "menu"}}
<!-- menu -->
<!-- QT MENUBAR TOP ================================ -->
<div class="qt-menubar-top  qt-content-primary hide-on-large-and-down">
 <ul>
   <li><a href="#"><i class="dripicons-chevron-right"></i>About US</a></li>
   <li><a href="#"><i class="dripicons-chevron-right"></i>Advertisement</a></li>
   <li><a href="page-contacts.html"><i class="dripicons-chevron-right"></i>Contacts</a></li>
   <li><a href="#"><i class="dripicons-chevron-right"></i>Privacy</a></li>
   <li class="right"><a href="#"><i class="qticon-beatport qt-socialicon"></i></a></li>
   <li class="right"><a href="#"><i class="qticon-facebook qt-socialicon"></i></a></li>
   <li class="right"><a href="#"><i class="qticon-twitter qt-socialicon"></i></a></li>
   <li class="right"><a href="#"><i class="qticon-youtube qt-socialicon"></i></a></li>
   <li class="right"><a href="#"><i class="qticon-soundcloud qt-socialicon"></i></a></li>
 </ul>
</div>
<!-- QT MENUBAR  ================================ -->
<nav class="qt-menubar nav-wrapper qt-content-primary ">
 <!-- desktop menu  HIDDEN IN MOBILE AND TABLETS -->
 <ul class="qt-desktopmenu hide-on-xl-and-down">
   <li class="qt-logo-link"><a href="./" class="brand-logo qt-logo-text">ONAIR<span>2</span></a></li>
   <li><a href="page-schedule.html">Schedule</a>
     <ul>
       <li><a href="page-schedule.html">Archive</a></li>
       <li><a href="single-show.html">Single show page</a></li>
     </ul>
   </li>
   <li><a href="archive-podcast.html">Podcast</a>
     <ul>
       <li><a href="archive-podcast.html">Archive</a></li>
       <li><a href="single-podcast.html">Single show page</a></li>
     </ul>
   </li>
   <li><a href="archive-members.html">Team</a>
     <ul>
       <li><a href="archive-members.html">Archive</a></li>
       <li><a href="single-member.html">Single show page</a></li>
     </ul>
   </li>
   <li><a href="archive.html">Blog</a>
     <ul>
       <li><a href="archive.html">Blog archive</a></li>
       <li><a href="single-post.html">Single post</a></li>
     </ul>
   </li>
   <li><a href="archive-chart.html">Charts</a>
     <ul>
       <li><a href="archive-chart.html">Charts archive</a></li>
       <li><a href="single-chart.html">Single chart</a></li>
     </ul>
   </li>
   <li><a href="archive-events.html">Events</a>
     <ul>
       <li><a href="archive-events.html">Events archive</a></li>
       <li><a href="single-event.html">Single event</a></li>
     </ul>
   </li>
   <li><a href="page-contacts.html">Contacts</a></li>
   <li class="right"><a href="#!" data-expandable="#qtsearchbar" class="qt-btn qt-btn-l qt-scrolltop"><i class="icon dripicons-search"></i></a></li>
   <li class="right"><a href="page-popup.html" class="qt-popupwindow" data-name="Music Player" data-width="320" data-height="500"><i class="icon dripicons-duplicate"></i> Popup</a></li>
   <li class="right"><a href="#!" class="button-playlistswitch" data-activates="channelslist"><i class="icon dripicons-media-play"></i> Listen</a></li>
 </ul>
 <!-- mobile menu icon and logo VISIBLE ONLY TABLET AND MOBILE-->
 <ul class="qt-desktopmenu hide-on-xl-only ">
   <li><a href="#" data-activates="qt-mobile-menu" class="button-collapse qt-menu-switch qt-btn qt-btn-primary qt-btn-m"><i class="dripicons-menu"></i></a></li>
   <li><a href="#!" class="brand-logo qt-logo-text">ONAIR2</a></li>
 </ul>
</nav>
<!-- mobile menu -->
<div id="qt-mobile-menu" class="side-nav qt-content-primary">
 <ul class=" qt-side-nav">
   <li><a href="index.html">Home</a></li>
   <li class="menu-item-has-children"><a href="page-schedule.html">Schedule</a>
     <ul>
       <li><a href="page-schedule.html">Archive</a></li>
       <li><a href="single-show.html">Single show page</a></li>
     </ul>
   </li>
   <li class="menu-item-has-children"><a href="archive-podcast.html">Podcast</a>
     <ul>
       <li><a href="archive-podcast.html">Archive</a></li>
       <li><a href="single-podcast.html">Single show page</a></li>
     </ul>
   </li>
   <li class="menu-item-has-children"><a href="archive-members.html">Team</a>
     <ul>
       <li><a href="archive-members.html">Archive</a></li>
       <li><a href="single-member.html">Single show page</a></li>
     </ul>
   </li>
   <li class="menu-item-has-children"><a href="archive.html">Blog</a>
     <ul>
       <li><a href="archive.html">Blog archive</a></li>
       <li><a href="single-post.html">Single post</a></li>
     </ul>
   </li>
   <li class="menu-item-has-children"><a href="archive-chart.html">Charts</a>
     <ul>
       <li><a href="archive-chart.html">Charts archive</a></li>
       <li><a href="single-chart.html">Single chart</a></li>
     </ul>
   </li>
   <li class="menu-item-has-children"><a href="archive-events.html">Events</a>
     <ul>
       <li><a href="archive-events.html">Events archive</a></li>
       <li><a href="single-event.html">Single event</a></li>
     </ul>
   </li>
   <li><a href="page-contacts.html">Contacts</a></li>
 </ul>
</div>
<!-- mobile toolbar -->
<ul class="qt-mobile-toolbar qt-content-primary-dark qt-content-aside hide-on-large-only">
 <li><a href="#!" data-expandable="#qtsearchbar" class="qt-scrolltop"><i class="icon dripicons-search"></i></a></li>
 <li><a href="page-popup.html" class="qt-popupwindow" data-name="Music Player" data-width="320" data-height="500"><i class="icon dripicons-duplicate"></i></a></li>
 <li><a href="#!" class="button-playlistswitch" data-activates="channelslist"><i class="icon dripicons-media-play"></i></a></li>
</ul>
<!-- menu -->
{{end}}
