{{define "menu"}}
<!-- menu -->
<!-- QT MENUBAR TOP ================================ -->
<!-- QT MENUBAR  ================================ -->
<nav class="qt-menubar nav-wrapper qt-content-primary ">
 <!-- desktop menu  HIDDEN IN MOBILE AND TABLETS -->
 <ul class="qt-desktopmenu hide-on-xl-and-down">
   <li class="qt-logo-link">
     <a href="./" class="brand-logo qt-logo-text">
       <img src="imagestemplate/fantasfm_logo_3_xmas.jpg" alt="Home">
     </a>
   </li>
   <li><a href="programacao.html">PROGRAMAÇÃO</a></li>
   <li><a href="equipa.html">EQUIPA</a></li>
   <li><a href="4as4.html">4 ÁS 4</a></li>
   <li><a href="archive-events.html">EVENTOS</a></li>
   <li><a href="contactos.html">CONTACTOS</a></li>
   <li class="right"><a href="#!" data-expandable="#qtsearchbar" class="qt-btn qt-btn-l qt-scrolltop"><i class="icon dripicons-search"></i></a></li>
   <li class="right"><a href="popup.html" class="qt-popupwindow" data-name="Music Player" data-width="320" data-height="500"><i class="icon dripicons-duplicate"></i> Popup</a></li>
   <li class="right"><a href="#!" class="button-playlistswitch" data-activates="channelslist"><i class="icon dripicons-media-play"></i> EMISSÃO</a></li>
 </ul>
 <!-- mobile menu icon and logo VISIBLE ONLY TABLET AND MOBILE-->
 <ul class="qt-desktopmenu hide-on-xl-only ">
   <li><a href="#" data-activates="qt-mobile-menu" class="button-collapse qt-menu-switch qt-btn qt-btn-primary qt-btn-m"><i class="dripicons-menu"></i></a></li>
   <li>
     <a href="#!" class="brand-logo qt-logo-text">
       <img src="imagestemplate/fantasfm_logo_site.jpg" alt="Home">
     </a>
   </li>
 </ul>
</nav>
<!-- mobile menu -->
<div id="qt-mobile-menu" class="side-nav qt-content-primary">
 <ul class=" qt-side-nav">
   <li><a href="index.html">Home</a></li>
   <li><a href="programacao.html">PROGRAMAÇÃO</a></li>
   <li><a href="equipa.html">EQUIPA</a></li>
   <li><a href="4as4.html">4 ÁS 4</a></li>
   <li><a href="archive-events.html">EVENTOS</a></li>
   <li><a href="contactos.html">CONTACTOS</a></li>
 </ul>
</div>
<!-- mobile toolbar -->
<ul class="qt-mobile-toolbar qt-content-primary-dark qt-content-aside hide-on-large-only">
 <li><a href="#!" data-expandable="#qtsearchbar" class="qt-scrolltop"><i class="icon dripicons-search"></i></a></li>
 <li><a href="popup.html" class="qt-popupwindow" data-name="Music Player" data-width="320" data-height="500"><i class="icon dripicons-duplicate"></i></a></li>
 <li><a href="#!" class="button-playlistswitch" data-activates="channelslist"><i class="icon dripicons-media-play"></i></a></li>
</ul>
<!-- menu -->
{{end}}
