{{define "player"}}
<!-- player -->
<!-- PLAYER SIDEBAR ========================= -->
<div id="channelslist" class="side-nav qt-content-primary qt-right-sidebar">
  <a href="#" class="qt-btn qt-btn-secondary button-playlistswitch-close qt-close-sidebar-right" data-activates="channelslist"><i class="icon dripicons-cross"></i></a>
  <!-- PLAYER ========================= -->
  <div id="qtplayercontainer" data-playervolume="true" data-accentcolor="#dd0e34" data-accentcolordark="#ff0442" data-textcolor="#ffffff" data-soundmanagerurl="./components/soundmanager/swf/" class="qt-playercontainer qt-playervolume qt-clearfix qt-content-primary">
     <div class="qt-playercontainer-content qt-vertical-padding-m">
       <div class="qt-playercontainer-header">
         <h5 class="qt-text-shadow small">FANTAS FM</h5>
         <h3 id="qtradiotitle" class="qt-text-shadow">A MÚSICA NO RITMO CERTO</h3>
         <h4 id="qtradiosubtitle" class="qt-thin qt-text-shadow small"></h4>
       </div>
       <div class="qt-playercontainer-musicplayer" id="qtmusicplayer">
         <div class="qt-musicplayer">
           <div class="ui360 ui360-vis qt-ui360">
         <a id="playerlink" href="http://176.9.43.216:8178/index.mp3"></a>
           </div>
         </div>
       </div>
       <div class="qt-playercontainer-data qt-container qt-text-shadow small">
         <h6 class="qt-inline-textdeco">
           <span>Current track</span>
         </h6>
         <div class="qt-t qt-current-track">
           <h6 class="qt-small" id="qtFeedPlayerAuthor">ARTIST</h6>
         </div>
         <hr class="qt-inline-textdeco">
       </div>
     </div>
     <div id="playerimage" class="qt-header-bg" data-bgimage="imagestemplate/image.jpg">
       <img src="imagestemplate/image.jpg"alt="Featured image" width="690" height="302">
     </div>
   </div>
  </div>

    </ul>
  </div>
  <!-- CHANNELS LIST END ========================= -->
</div>
<!-- PLAYER SIDEBAR END ========================= -->
<!-- player -->
{{end}}
