{{define "player"}}
<!-- player -->
<!-- PLAYER SIDEBAR ========================= -->
<div id="channelslist" class="side-nav qt-content-primary qt-right-sidebar">
  <a href="#" class="qt-btn qt-btn-secondary button-playlistswitch-close qt-close-sidebar-right" data-activates="channelslist"><i class="icon dripicons-cross"></i></a>
  <!-- PLAYER ========================= -->
  <div id="qtplayercontainer" data-playervolume="true" data-accentcolor="#dd0e34" data-accentcolordark="#ff0442" data-textcolor="#ffffff" data-soundmanagerurl="./components/soundmanager/swf/" class="qt-playercontainer qt-playervolume qt-clearfix qt-content-primary">
    <div class="qt-playercontainer-content qt-vertical-padding-m">
      <div class="qt-playercontainer-header">
        <h5 class="qt-text-shadow small">Now on</h5>
        <h3 id="qtradiotitle" class="qt-text-shadow">STATION 1 RADIO</h3>
        <h4 id="qtradiosubtitle" class="qt-thin qt-text-shadow small">Subtitle of the radio</h4>
      </div>
      <div class="qt-playercontainer-musicplayer" id="qtmusicplayer">
        <div class="qt-musicplayer">
          <div class="ui360 ui360-vis qt-ui360">
            <a id="playerlink" href="http://freshly-ground.com/data/audio/sm2/Adrian%20Glynn%20-%20Blue%20Belle%20Lament.mp3"></a>
          </div>
        </div>
      </div>
      <div class="qt-playercontainer-data qt-container qt-text-shadow small">
        <h6 class="qt-inline-textdeco">
          <span>Current track</span>
        </h6>
        <div class="qt-t qt-current-track">
          <h5 id="qtFeedPlayerTrack">TITLE</h5>
          <h6 class="qt-small" id="qtFeedPlayerAuthor">ARTIST</h6>
        </div>
        <hr class="qt-inline-textdeco">
      </div>
    </div>
    <div id="playerimage" class="qt-header-bg" data-bgimage="imagestemplate/full-1600-700.jpg">
      <img src="imagestemplate/full-1600-700.jpg" alt="Featured image" width="690" height="302">
    </div>
  </div>
  <!-- this is for xml radio feed -->
  <div id="qtShoutcastFeedData" class="hidden" data-style="" data-channel="1" data-host="173.192.105.231" data-port="3540"></div>
  <!-- PLAYER END ========================= -->
  <!-- CHANNELS LIST ========================= -->
  <div class="qt-part-channels-list">
    <ul class="qt-content-aside qt-channelslist qt-negative">
      <li class="qt-channel">
        <a href="#!" class="qt-ellipsis" data-title="06AM Ibiza" data-subtitle="Underground Radio" data-background="imagestemplate/photo-squared-500-500.jpg" data-logo="imagestemplate/radio-logo.png" data-playtrack="http://173.192.105.231:3540/stream.mp3" data-host="173.192.105.231" data-port="3540" data-stats_path="" data-played_path="" data-channel="">
          <img src="imagestemplate/radio-logo.png" alt="logo" class="qt-radiologo dripicons-media-play" width="80" height="80">
          <i class="dripicons-media-play"></i> Station 1
        </a>
      </li>
      <li class="qt-channel">
        <a href="#!" class="qt-ellipsis" data-title="altradio" data-subtitle="The subtitle of radio 2" data-background="imagestemplate/large-1170-512.jpg" data-logo="imagestemplate/radio-logo.png" data-playtrack="http://82.77.137.30:8557/;listen.mp3" data-host="82.77.137.30" data-port="8557" data-stats_path="" data-played_path="" data-channel="">
          <img src="imagestemplate/radio-logo.png" alt="logo" class="qt-radiologo" width="80" height="80">
          <i class="dripicons-media-play"></i> altradio
        </a>
      </li>
    </ul>
  </div>
  <!-- CHANNELS LIST END ========================= -->
</div>
<!-- PLAYER SIDEBAR END ========================= -->
<!-- player -->
{{end}}
