{{define "search-form"}}
<!-- search-form -->
<!-- SEARCH FORM ========================= -->
<div id="qtsearchbar" class="qt-searchbar qt-content-primary qt-expandable">
  <div class="qt-expandable-inner">
    <form method="post" action="#search" class="qt-inline-form">
      <div class="row qt-nopadding">
        <div class="col s12 m8 l9">
          <input placeholder="Search" value="" id="searchtex" type="text" class="validate qt-input-l">
        </div>
        <div class="col s12 m3 l2">
          <input type="button" value="Search" class="qt-btn qt-btn-primary qt-btn-l qt-fullwidth">
        </div>
        <div class="col s12 m1 l1">
          <a href="#!" class="qt-btn qt-btn-l qt-btn-secondary qt-fullwidth aligncenter" data-expandable="#qtsearchbar"><i class="dripicons-cross"></i></a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- SEARCH FORM END ========================= -->
<!-- search-form -->
{{end}}
