{{define "slide"}}
<!-- slide -->
<!-- ======================= SLIDESHOW SECTION ======================= -->
<!-- SLIDESHOW FULLSCREEN ================================================== -->
<div class="qt-slickslider-container">
  <div class="qt-slickslider qt-slickslider-single qt-text-shadow qt-black-bg" data-variablewidth="true" data-arrows="true" data-dots="true" data-infinite="true" data-centermode="true" data-pauseonhover="true" data-autoplay="true" data-arrowsmobile="true" data-centermodemobile="true" data-dotsmobile="false" data-variablewidthmobile="true">
    <div class="qt-slick-opacity-fx qt-item">
      <!-- POST HERO ITEM ========================= -->
      <div class="qt-part-archive-item qt-part-item-post-hero">
        <div class="qt-item-header">
          <div class="qt-header-top">
            <div class="qt-feedback">
              <a><i class="dripicons-message"></i></a><a><i class="dripicons-heart"></i></a>
            </div>
          </div>
          <div class="qt-header-mid qt-vc">
            <div class="qt-vi">
              <ul class="qt-tags">
                <li><a href="#"></a></li>
              </ul>
              <h2 class="qt-title">
                <a href="" class="qt-text-shadow">

                </a>
              </h2>
              <div class="qt-the-content qt-spacer-s small hide-on-med-and-down ">
                <p class="qt-spacer-s qt-text-shadow">

                </p>
                <p><a href="" class="qt-btn qt-btn-l qt-btn-primary "><i class="dripicons-align-justify"></i></a></p>
              </div>
            </div>
          </div>
          <div class="qt-header-bg" data-bgimage="imagestemplate/jhjhjhjhj.jpg">
            <img src="imagestemplate/jhjhjhjhj.jpg" alt="Featured image" width="1170" height="512">
          </div>
        </div>
      </div>
      <!-- POST HERO ITEM END ========================= -->
    </div>
   <div class="qt-slick-opacity-fx qt-item">
      <!-- POST HERO ITEM ========================= -->
      <div class="qt-part-archive-item qt-part-item-post-hero">
        <div class="qt-item-header">
          <div class="qt-header-top">
            <div class="qt-feedback">
              <a><i class="dripicons-message"></i></a><a><i class="dripicons-heart"></i></a>
            </div>
          </div>
          <div class="qt-header-mid qt-vc">
            <div class="qt-vi">
              <ul class="qt-tags">
                <li><a href="#"></a></li>
              </ul>
              <h2 class="qt-title">
                <a href="" class="qt-text-shadow">

                </a>
              </h2>
              <div class="qt-the-content qt-spacer-s small hide-on-med-and-down ">
                <p class="qt-spacer-s qt-text-shadow">

                </p>
                <p><a href="" class="qt-btn qt-btn-l qt-btn-primary "><i class="dripicons-align-justify"></i></a></p>
              </div>
            </div>
          </div>
          <div class="qt-header-bg" data-bgimage="imagestemplate/.jpg">
            <img src="imagestemplate/.jpg" alt="Featured image" width="1170" height="512">
          </div>
        </div>
      </div>
      <!-- POST HERO ITEM END ========================= -->
    </div>
  </div>
</div>
<!-- SLIDESHOW FULLSCREEN END ================================================== -->
<!-- slide -->
{{end}}
