{{define "sponsors"}}
<!-- sponsors -->
<!-- ======================= SPONSORS ======================= -->
<div class="qt-vertical-padding-m qt-sponsors qt-section">
  <h3 class="qt-caption-med"><span>SPONSORS</span></h3>
  <hr class="qt-spacer-m">
  <!-- SLIDESHOW SPONSORS ================================================== -->
  <div class="qt-slickslider-container qt-slickslider-externalarrows qt-slickslider-fullscreen">
    <div class="row">
      <div class="qt-slickslider qt-slickslider-multiple qt-text-shadow " data-slidestoshow="6" data-slidestoshowipad="3" data-variablewidth="false" data-arrows="true" data-dots="false" data-infinite="true" data-centermode="false" data-pauseonhover="true" data-autoplay="true" data-arrowsmobile="false" data-centermodemobile="true" data-dotsmobile="false" data-slidestoshowmobile="1" data-variablewidthmobile="true" data-infinitemobile="false">
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
        <!-- SLIDESHOW ITEM -->
        <div class="qt-item">
          <a href="#" target="_blank" rel="nofollow" class="qt-sponsor">
            <img src="imagestemplate/sponsor.png" width="235" height="132" alt="sponsor" class="qt-image-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDESHOW SPONSORS END ================================================== -->
  <hr class="qt-spacer-s">
</div>
<!-- sponsors -->
{{end}}
