<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
							 Ana Moura destrona Taylor Swift no top dos discos mais vendidos em Portugal

							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/img_460x290$2022_10_10_09_31_10_318436.jpg">
						<img src="imagestemplate/img_460x290$2022_10_10_09_31_10_318436.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
	"Casa Guilhermina", editado a 11 de novembro, chegou ao primeiro lugar na semana de lançamento.

Já são conhecidas as últimas contas da Associação Fonográfica Portuguesa, contas essas relativas à
semana de 11 a 17 de novembro. "Casa Guilhermina", que a cantora Ana Moura editou a 11 de
novembro, entrou diretamente para a liderança da tabela, destronado "Midnights (Blue Edition)", o
mais recente da norte-americana Taylor Swift.

<iframe width="680" height="413" src="https://www.youtube.com/embed/zslTm0WmPe0" title="Ana Moura - Arraial Triste (Official Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

O britânico Louis Tomlinson também entrou em grande força na contagem, ocupando a segunda
posição com "Faith In The Future", registo discográfico lançado igualmente a 11 de novembro. Em
terceiro lugar, está "Only the Strong Survive", do veterano Bruce Springsteen. É o álbum que coleciona
versões de clássicos da soul levadas para estúdio pelo dono de 'Born To Run'.

Tony Carreira subiu na contagem, com o disco "Recomeçar", posicionando-se agora na quarta
posição. A norte-americana Taylor Swift desceu da liderança para o quinto lugar com "Midnights (Blue
Edition)".

"The Car" - o disco que os ingleses Arctic Monkeys lançaram em outubro - desceu do número dois da
tabela para o sexto lugar. Logo a seguir, na sétima posição, está o britânico Harry Styles, com "Harry?s
House", disco editado em maio e que em julho desfilou na Altice Arena, em Lisboa.

"Revolver" - clássico dos icónicos Beatles -  ocupa o oitavo lugar e António Zambujo aparece na nona
posição com a compilação "Best Of". Ainda no top dos dez discos mais vendidos em Portugal, nas
contas relativas à semana de 11 a 17 de novembro, está o histórico "The Dark Side Of The Moon",
editado pelos britânicos Pink Floyd em 1973. É o álbum que ocupa o décimo lugar.

Na tabela de streams, singles e EPs Digitais, lidera 'Quevedo: Bzrp Music Sessions, Vol. 52' - que junta
Bizarrap e Quevedo. 'Como Tu', o dueto de Bárbara Bandeira e Ivandro, está em segundo lugar. 'Calm
Down', single da nigeriana Rema, está na terceira posição.

								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
