<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
            Benfica perde em casa com o Gil Vicente
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/benfica_jesus.jpg">
						<img src="imagestemplate/benfica_jesus.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
								O Benfica perdeu hoje por 2-1 na receção ao Gil Vicente, na 27.ª jornada da I Liga portuguesa de futebol, terminando uma série de seis vitórias seguidas na prova e distanciando-se ainda mais do líder Sporting.

								Os visitantes chegaram a dispor de uma vantagem de dois golos, marcados por Léautey, aos 35 minutos, e Lourency, aos 81, de pouco valendo aos anfitriões -- que não perdiam no campeonato há 10 jogos - o autogolo de Vítor Carvalho, aos 87, que fixou o resultado final.

								O Benfica manteve-se com 57 pontos, menos três do que o FC Porto, segundo colocado, que apenas joga no domingo, no estádio do Nacional, e menos 12 relativamente ao líder Sporting, enquanto o Gil Vicente passou a somar 31
							  <!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
