<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
          Billie Eilish em 1º no Top Nacional
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/eilish1200x630.jpg">
						<img src="imagestemplate/eilish1200x630.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
							O segundo e novo longa-duração de Billie Eilish, "Happier Than Ever", registou uma entrada direta para o lugar cimeiro do Top Nacional de
							Álbuns, relegando para a terceira posição o disco de Olivia Rodrigo, "Sour". No segundo lugar está o álbum póstumo de Prince, "Welcome 2
							America", um disco de intervenção mais social, gravado em 2010 e retirado do misterioso cofre do complexo de estúdios de Paisley Park, o
							chamado The Vault.

							<iframe width="925" height="550" src="https://www.youtube.com/embed/5GJWxDKyk3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							"Teatro d'ira: Vol. I" dos italianos Måneskin, vencedores da última edição do Festival da Eurovisão, obtém a subida significativa do 38º para o
							6º lugar.

							<iframe width="925" height="550" src="https://www.youtube.com/embed/UTHLKHL_whs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							Nos tops nacionais de streams e de singles, há um tema novo a liderar: 'Industry Baby', que junta os esforços do rapper Lil Nas X ao do seu
							convidado Jack Harlow. 'Beggin'', dos Måneskin, desce do 1º lugar para o 2º em ambos os levantamentos da Associação Fonográfica
							Portuguesa.

							<iframe width="925" height="550" src="https://www.youtube.com/embed/UTHLKHL_whs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							  <!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
