<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
             Buraka: "proporcionámos a descolonização mental"
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/burakasomsistem1..jpg">
						<img src="imagestemplate/burakasomsistem1.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
				A 1 de julho de 2016, os Buraka Som Sistema davam o seu último concerto de sempre, nos Jardins da Torre de Belém, em Lisboa, diante de
				cerca de 20 mil pessoas.

		A energia em bruto desse espetáculo de despedida pode ser sentida no álbum ao vivo que é lançado hoje: Buraka 4 Ever". 'Kalemba', '(We
		Stay) Up All Night', Eskeleto' ou 'Sound of Kuduro' são alguns dos momentos empolgantes do disco, temas que sempre levaram o seu público
		ao rubro.

		Cinco anos depois, na tarde de 1 de julho de 2021, reencontramos em Belém duas das vigas da estrutura eletrónica dos Buraka: Branko e Rui
		Pité (também conhecido como Riot).

		O que vos leva a lançar nesta altura o álbum ao vivo do vosso concerto de despedida?
		ranko - A ideia de gravarmos o concerto final foi sempre com o intuito de vermos o que é que poderíamos fazer. Sentimos que os Buraka
		sempre foram uma banda que tinha uma grande força ao vivo, sempre foi um grupo de tour, de celebração no palco com a audiência, que
		sentimos que isso teria que ser imortalizado de alguma forma nestes dez anos de Buraka. Pareceu-nos que não só pelo facto de terem
		passado cinco anos desde esse momento [de despedida] e de termos seguido com os nossos projetos, oma-se ainda o fator da pandemia e
		de pensarmos que um concerto de Buraka era tudo menos um concerto de distanciamento. Era uma aproximação social e era isso que se
		queria. Vamos querer que este Buraka 4 Ever seja para sempre.

		Que memórias mais especiais têm desse concerto?
Riot - Já sabíamos durante algum tempo que iria ser o último concerto.  Foi, obviamente, um concerto emotivo por essa razão. Do meu ponto
vista, olhei para os meus colegas de banda e senti orgulho do percurso de tínhamos feito. Esta viagem dos Buraka é tão hipersónica que só
depois e no último dia é que se consegue avaliar o que foi feito e o que não foi feito, os objetivos atingidos e o que se alcançou sem se estar à
espera. Nem sequer estavas à espera e conseguiste. Foi uma experiência ótima. Foi bom ver família, amigos e Belém cheio para a despedida
dos Buraka.

O que é que vos levou a parar em 2016?
B - Naquela altura usámos a palavra hiato. Sentimos que a banda que desenvolvemos entre 2006 e 2016 tinha impacto pela música e pelos
concertos. Também, de alguma forma, traçou um percurso social e proporcionou à nossa audiência uma descolonização mental que fez com
que esse impacto social fosse forte. Notou-se - pela quantidade de projetos que surgiram durante a atividade dos Buraka - esse abraço à
cultura portuguesa, à nossa música eletrónica e à mistura cultural que se vive em Lisboa. Até esse momento, tínhamos conseguido explicar o
que éramos. Não sabíamos que ao continuarmos poderíamos estar a estragar e a desfocar essa ideia e esse impacto. Agora, podendo olhar
para trás e intelectualizar o que na altura estava a acontecer, leva-me a crer que fez todo o sentido. Essa paragem preparou uma série de
sementes que prolongaram o legado da banda e aquilo que era a intenção da criação da banda, numa série de formatos diferentes, mas
como parte do mesmo puzzle. Todos os projetos que o Rui [Pité] desenvolveu, todos os projetos que eu trabalhei, a incrível carreira que a
Blaya fez, ou a Pongo Love, a escrita do Kalaf, tudo isso foram sementes plantadas que acrescentaram aos dez anos dos Buraka. Para se ser
bem feito, tem que se parar e fazer zoom out para conseguirmos essa objetividade.

Têm medo que esta loucura coletiva vivida em Belém não mais se repita?
R - Medo, não sei. Não sabemos quando é que voltará a acontecer de novo. Acho estranho que não se repita de novo algo assim no futuro.
Mas repara que eu não disse "futuro próximo". A saída deste disco serve também para relembrar a energia que os Buraka tinham ao vivo e
celebrar a antítese completa do que se vive hoje em dia:  gente em cima do palco, toda a gente a saltar, a dançar e a rebolar no chão. Acho
que as pessoas sentem falta disso. Pode voltar a acontecer de novo. Mas este disco veio para dar pelo menos 50% da experiência do que é
Buraka ao vivo e do que é que as pessoas sentiam. Há pessoas que só conhecem Buraka dos discos, há pessoas que iam aos concertos e que
á têm saudades do que éramos ao vivo. Os concertos com 20 mil pessoas vão voltar a acontecer com energia parecida.


Gostavam de voltar como cabeças-de-cartaz do Sónar?
B - O Sónar fez parte do percurso dos Buraka, tocámos lá quatro ou cinco anos seguidos. Tivemos lá experiências incríveis. É um festival que
nos permite a facilidade gostar de várias coisas diferentes. É mais fácil circulares num festival de eletrónica e entrares nas salas e encontrares
coisas que gostas e outras que não gostas. Quando pensas em música de bandas, tens sempre mais layers e camadas, e há uma dificuldade
maior [em ser surpreendido]. Sei que o Sónar sempre proporcionou isso a Buraka. Sem dúvida que faria todo o sentido Buraka existir num
estival como o Sónar, em Barcelona ou em Lisboa, mas isso não vai acontecer. Seria bonito, sem dúvida.


Vocês estão muito ligados ao hemisfério sul do planeta. Aumentou o fosso entre norte e sul com esta pandemia da covid-19?
R - Penso que aumentou por uma questão económica. O acesso às vacinas não é o mesmo no sul que é no norte. As vacinas não são primeira
coisa que mais dificilmente chega ao sul. Obviamente que se trata de saúde pública, em que toda a gente tem que ficar vacinada. Quando
digo toda a gente, é o planeta inteiro. O perigo é maior quando há pessoas com dificuldades em ter apoio médico e acesso a vacinas. Tenho
esperança que se reative algum bom senso no G8 para que espalhem mais apoios lá para baixo.
B - Paralelamente à parte científica, sinto que está a haver uma presença muito forte da música da costa ocidental de África, em países como
o Gana, a Nigéria ou a África do Sul.  Antes da pandemia, estavam a ter uma grande projeção pelo mundo, com uma penetração incrível nos
tops de alguns países. O facto dos países ocidentais terem passado tanto tempo obcecados com a pandemia e o facto de não se ter parado
de produzir cultura, fez com que artistas como o Burna Boy ou o Wizkid [ambos nigerianos] tivessem ganho um terreno incrível. Essa
continuidade de produção pode ter sido uma vantagem [para esses países do sul].


								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
