<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
            Bárbara Tinoco anuncia mais uma data para o Coliseu de Lisboa em novembro
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/barbaratinoco1200x631.jpg">
						<img src="imagestemplate/barbaratinoco1200x631.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
Bárbara Tinoco adicionou uma data aos concertos agendados para o mês de novembro - isto depois da grande procura aos bilhetes por
parte dos fãs da cantora. Ao espetáculo agendado para 13 de novembro, foi acrescentado um um segundo concerto - a 14 de
novembro. Os bilhetes estão à venda nos locais habituais.  A 20 de novembro, Tinoco atua no Coliseu do Porto. A 27 desse mês, Bárbara
Tinoco sobe ao palco do Coliseu Micaelense, em Ponta Delgada, nos Açores.

Recentemente - em abril de 2021 - Bárbara Tinoco lançou um EP de colaborações. "Desalinhados" contou com as participações de
António Zambujo, Bárbara Bandeira, Carlão, Carolina Deslandes, Diana Martinez e Tyoz.

A jovem cantora, de 21 anos, prepara-se agora para o lançamento do tão aguardado álbum de estreia com quatro espetáculos em nome
próprio nas mais imponentes salas do país.


<iframe width="925" height="550" src="https://www.youtube.com/embed/AjwAWIKRibM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

m 2020 Bárbara Tinoco venceu o prémio Play para "Artista Revelação". Em 2021 a artista voltou a ser nomeada, desta vez em duas
ategorias, "Melhor Artista Feminina" e "Vodafone Canção do Ano".

Ainda este ano Bárbara Tinoco recebeu também duas nomeações para os Globos de Ouro, nas categorias de "Melhor Canção, com 'Antes
Dela Dizer Que Sim" e "Melhor Intérprete". A entrega de prémios está marcada para outubro.

A artista conta com 26 concertos em agenda para 2021,  um dos mais difíceis anos do setor cultural.

<iframe width="925" height="550" src="https://www.youtube.com/embed/62SmxJ7A60k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/author-thumbnail.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
