<!doctype html>
<html class="no-js" lang="en">

  {{template "head"}}
	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
			{{template "menu"}}

			{{template "search"}}
			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">

								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">

							</h1>
							<h4 class="qt-subtitle">
 Bárbara Tinoco sobre o disco de estreia: "é um bocadinho o meu diário"
							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/barbaratinoco1200x631.jpg">
						<img src="imagestemplate/barbaratinoco1200x631.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
								<p><strong></strong></p> "Bárbara" é o disco de estreia de Bárbara Tinoco e, a partir de hoje, está disponível em todas as plataformas de streaming. A versão física
                chega às lojas no dia 29 de outubro.

                O longa-duração conta com 10 faixas de originais, entre as quais 'Antes d'Ela Dizer Que Sim', 'Outras Línguas', 'Sei Lá' e 'Fugir de Ser' -
                sucessos que ajudaram Tinoco a ficar conhecida junto do público.

                A cantora e compositora Bárbara Tinoco abre as páginas do diário em "Bárbara", álbum que, em novembro, vai levar Tinoco aos Coliseus
                de Lisboa, Porto e Ponta Delgada.

                "Chamei-lhe 'Bárbara' porque é uma conversa de mim para mim e de mim para toda a gente É um álbum muito genuíno, uma coisa
                irrepetível, especial, e a essência dele é um bocadinho o meu diário e é um bocadinho estranho, porque toda a gente está a ler o meu
                diário", referiu a artista em entrevista à agência Lusa.

                Bárbara Tinoco tem 22 anos e tornou-se conhecida do público em 2018,  quando entrou na fase de 'provas cegas' do programa de talentos
                "The Voice Portugal" da RTP. Não foi selecionada, mas teve a oportunidade de apresentar um tema original - 'Antes d'Ela Dizer Que Sim', que
                abre o disco.

                "Estava muito tranquila, apesar de não ter passado. O meu objetivo com ir ao programa era cantar uma das minhas canções. Não sabia muito
                bem como ia ser o meu percurso ou não, mas sabia que a partir dali eu ia saber se era pela música ou por outro caminho qualquer",
                recordou.

                Autodidata, só estudou música já na faculdade, no curso de Ciências Musicais da Faculdade de Ciências Sociais e Humanas, da Universidade
                Nova de Lisboa, do qual tem uma cadeira por concluir

                "Desde miúda sempre escrevi poemas. Obviamente que na altura eram sobre morangos ou assim, mas sempre gostei muito de brincar com
                música e de fazer pequenas melodias ao piano", partilhou, lembrando que com 13 anos quis aprender a tocar guitarra, como o pai.

                Embora na família de Bárbara não haja músicos profissionais, o avô paterno tinha uma loja de instrumentos musicais, que acabou por passar
                para o pai da cantora e onde ela costumava ir "nos dias em que não tinha escola".

                "O meu pai toca guitarra e o meu avô tocava guitarra e era um grande cantor, um bom cantor. Na verdade, a minha família é uma família de
                música. Em cada canto da casa havia uma guitarra, um 'cajon', um piano, um instrumento qualquer", contou.

                Foi na adolescência que começou "a ter mais noção do que era uma canção" e a querer fazê-las como aquelas que ouvia e de que gostava.

                Bárbara Tinoco sente-se uma "filha do 'folk', tanto português como americano". Como primeiras referências na música destaca Suzanne Vega,
                Bob Dylan, Mark Knopfler e Miguel Araújo, sendo o músico português a sua "maior referência e influência".

                "Acho que é a minha maior influência, porque me apanhou numa fase em que eu estava a descobrir aquilo que queria ser enquanto
                compositora. Ele é um bom contador de histórias e era isso que eu queria ser também, uma compositora que contava histórias", partilhou.

                Quando começou a escrever os temas que compõem "Bárbara", a cantora "não sabia que estava a escrever um álbum, nem sequer sabia o
                que era fazer um álbum".

                "Eu só escrevia canções porque precisava de escrever canções,  porque precisava de processar alguma coisa que vivi, de pensar sobre aquilo,
                e aquela é a minha forma de pensar, de pôr numa lógica", referiu.

                No álbum, além da voz de Bárbara ouvem-se também as vozes dos avós maternos e de uma tia, que fazem a introdução de duas canções
                - "Cartas de Guerra" e "Para o Rafael e para a Maria Vitória", respetivamente - "que são presentes".


                "Essas canções, que ofereci aos meus avós e à minha tia e aos pais da Maria Vitória, têm uma pequena introdução, porque aquela história
                não é minha, eu só a contei", explicou, salientando que, para ela, aqueles dois temas " são o momento mais emocionante do álbum, porque
                são duas histórias fortes: uma mais feliz e outra um bocadinho mais triste".

                'Cartas de Guerra' conta uma história de amor e 'Para o Rafael e para a Maria Vitória' aborda a morte de crianças.

                "Ainda ponderei muito se punha a canção do Rafael e da Maria Vitória no álbum, porque é uma canção muito pessoal, mas falei com os pais
                das crianças e eles ficaram muito contentes de eu ter feito aquela canção e de os nomes dos filhos estarem, porque uma coisa que eu ouvi
                dos pais foi 'não se esqueçam deles', e não há uma forma melhor para não esquecer do que estar numa canção para sempre", contou.

                Esta e outras canções foram sendo criadas com tempo, um tempo que Bárbara conseguiu ter graças à pandemia da covid-19: "à parte de
                todas as coisas horríveis que vieram com a pandemia, principalmente para o setor cultural, a mim deu-me tempo para parar".

                Bárbara Tinoco tem noção que a sua entrada no mundo da música "foi muito rápida".

                "Eu não estava preparada. O meu concerto não era assim tão bom, estava ainda um bocado dividida com a sonoridade que queria fazer, à
                procura de uma coisa, não tinha assim tantas canções.  Estava em busca de qualquer coisa e sinto que a pandemia me pôs um pé no travão,
                que eu precisava para conseguir crescer bem, e deu-me tempo para preparar melhor o meu álbum, o meu concerto ao vivo, e para poder ter
                orgulho e ir cantar com outra confiança", afirmou.

                "Bárbara" sai em edição de autor por opção. "No início não havia ninguém interessado e depois, com o tempo, tive de aprender como se
                faziam as coisas - eu, a minha agência (Primeira Linha) e o meu 'manager' - e depois de perceber, as editoras deixaram de ter alguma coisa
                para me oferecer”, contou.

                Além disso, Bárbara Tinoco gosta da "total liberdade" que tem "para fazer o que quiser", "sempre em conjugação" com a sua "grande equipa".

                É com a equipa que prepara os cinco concertos nos Coliseus de Lisboa, Porto e Ponta Delgada, em novembro, "um conjunto de momentos
                novos e especiais e um culminar de três anos de trabalho" com a banda que a acompanha,  que terá convidados surpresa, "porque os
                Coliseus são uma coisa especial".

                <iframe width="925" height="550" src="https://www.youtube.com/embed/YTTbHkitFt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>









								<h1></h1>
								<h2></h2>
								<h3></h3>
								<h4></h4>
								<h5></h5>
								<h6></h6>
								<h2></h2>
								<p></p>

									<p></p>
								</>
								<p></p>

									<p>
										<cite></cite>
									</p>
								</>

										</tr>
									</tbody>
								</table>

								</ol>

								<!-- POST CONTENT END ========================= -->
							</div>
							<hr class="qt-spacer-l">
						</div>
						<div class="qt-sidebar col s12 m12 l3">
							<!-- SIDEBAR ================================================== -->
							<div class="qt-widgets qt-sidebar-main qt-text-secondary row">
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Stay Connected</span></h5> Subscribe now to the newsletter to receive weekly updates.
										<hr class="qt-spacer-s">
										<form method="post" action="#newsletter" class="qt-inline-form">
											<div class="row qt-nopadding">
												<div class="col s12 m8 l9">
													<input placeholder="Your email" value="" type="text" class="validate qt-input-s">
												</div>
												<div class="col s12 m4 l3">
													<input type="button" value="submit" class="qt-btn qt-btn-secondary qt-btn-s qt-fullwidth">
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Recent Posts</span></h5>
										<!-- POST SMALL TITLE ITEM ========================= -->
										<div class="qt-part-archive-item qt-part-archive-item-small-title">
											<div class="qt-item-header">
												<div class="qt-header-top">
													<ul class="qt-tags">
														<li><a href="#">Adventure</a></li>
													</ul>
												</div>
												<div class="qt-header-mid qt-vc">
													<div class="qt-vi">
														<h4 class="qt-title">
															<a href="#read" class="qt-text-shadow">

															</a>
														</h4>
													</div>
												</div>
												<div class="qt-header-bottom">
													<a href="#read" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-media-play"></i></a>
												</div>
												<div class="qt-header-bg" data-bgimage="imagestemplate/medium-690-302.jpg">
													<img src="imagestemplate/medium-690-302.jpg" alt="Featured image" width="690" height="302">
												</div>
											</div>
										</div>
										<!-- POST SMALL TITLE ITEM END ========================= -->
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small">
											<span>Now on air</span>
										</h5>
										<div class="qt-widget-onair qt-card aligncenter">
											<a href="#post">
												<img src="imagestemplate/thumbnail.jpg" class="qt-featured-image" alt="photo" />
											</a>
											<h4 class="qt-caption-med">
												<span>Sound circus</span>
											</h4>
											<h6 class="qt-onair-title">
												By Tom Shepard
											</h6>
											<p class="qt-small">
												A journey into the music of your best holiday nights, full of melodies and rhythm. Dance and get crazy with Tom Shepard!
											</p>
											<a href="#show" class="qt-btn qt-btn-s qt-btn-secondary">Info and episodes</a>
										</div>
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Next shows</span></h5>
										<ul class="qt-widget-upcoming">
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
										</ul>
									</div>
								</div>

							</div>
							<!-- SIDEBAR END ================================================== -->
							<hr class="qt-spacer-l">
						</div>
					</div>
				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .qt-main end -->
      {{template "footer"}}

  </div>


  {{template "player"}}

  {{template "scripts"}}


	</body>
</html>
