<!doctype html>
<html class="no-js" lang="en">
	{{template "head"}}
	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">

			{{template "menu"}}

			{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">

								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
    Dua Lipa: educação física na Altice Arena
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/dua_lipa_capa_final.jpg">
						<img src="imagestemplate/dua_lipa_capa_final.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
Nesta segunda-feira, viveu-se uma noite típica da era pós-covid, com uma Altice Arena cheiíssima e puxada à lotação máxima, para ver o
grande espectáculo pop do momento, sob a responsabilidade de Dua Lipa.

"So come on, let's get physical": quando Dua Lipa surgiu no palco a cantar versos como este, essas eram mesmo frases de ordem para todos,
sobretudo para ela própria, que nunca esteve menos que extraordinária. O arranque com o tal 'Physical' foi a rampa de lançamento perfeita
para um espetáculo de alta cilindrada de hora e meia. Logo depois de uma apresentação dos créditos dos participantes (incluindo os
dançarinos) no ecrã semicircular por trás do palco, vemo-nos perante uma coreografia de dez dançarinos com a precisão de uma parada
militar de um grande exército, mas que se ondulam com Dua Lipa numa barra horizontal de ballet.

Com luvas de cotovelo à Marilyn Monroe e um vestido espartilhado que reforça o bonito desenho do seu corpo esguio, Dua Lipa é cortejada
ao longo do corredor central do palco por seis dançarinas que faziam ginástica rítmica com guarda-chuvas,  quando cantava 'New Rules', um
dos pouquíssimos temas do concerto que não faz parte do álbum "Future Nostalgia" Os brilharetes físicos horizontalizam-se em 'Love Again',
com a cantora inglesa e as suas dançarinas a roçarem-se no chão, enquanto circula em loop o sample do clássico dos anos 1930 'My Woman'
O falso final da canção e a sua ressurreição exacerbam ainda mais as emoções do público, já de si muito elevadas

O ato 1º está qualquer coisa mas Dua Lipa quer mais e, por isso, volta acelerar as almas em 'Cool', a fazer lembrar a pop festiva de Michael
ackson. Poderia dizer-se que só faltou mesmo o moondance, mas isso foi feito por intermédio de rodas, por uma dupla de patinadores que
izeram acrobacias e movimentos giratórios no chão como se fossem b-boys de uma rua do Bronx. Depois de uma estranha forma de se fazer
ginástica rítmica, assistia-se em 'Cool' a uma estranha forma de se fazer patinagem artística. Os níveis físicos não paravam de extremar
sempre mais um pouco. Quando canta 'Pretty Please', Dua Lipa simula bravamente os movimentos sexuais com o suporte de microfone,
como se fosse o seu amante. Em 'Break My Heart', Dua Lipa só cantou porque é uma profissional rigorosa, porque podia ceder à tentação
sabática de poupar a voz, tão disponível que o generoso público estava para cantar, a conseguir acompanhar o ritmo alto que o groove

Dua Lipa faz depois um grande agradecimento ao acolhimento caloroso do público, salientando que aquele era o 60° concerto da Future
Nostalgia Tour. Tão feliz que Dua Lipa estava a dizer aquilo, dois anos e três meses depois de ter chorado o pior timing do mundo quando
lançou (no fatídico mês de março de 2020, perante o alarme da pandemia) quase em falso o álbum "Future Nostalgia". Mas o quase faz toda a
diferença. Impôs-se o quase e depois impôs-se "Future Nostalgia", como se bem notou nesta noite.

A finalizar o 1º ato, Dua Lipa interpreta o mais antigo 'Be the One' enquanto sacode os cabelos para trás das costas com uma pinta
glamourosa - Dua Lipa é também princesa da pop nos detalhes.  Depois, sai do palco com a sua dezena de dançarinos bem colados, como se
fossem uma centopeia, emprestando a frente de palco ao coro de quatro cantoras para os tais 15 minutos de fama, que na verdade deviam
ter sido 15 segundos.

O 2º ato do show teve a excentricidade cliché da pop, com a música a aligeirar, uma lagosta gigante e insuflável a dançar em 'We're Good',
uma chuva de cerejas a animar o ecrã central em 'Good In Bed' e nuvens de fumo durante 'Fever', com Dua Lipa a trocar carícias faciais com
duas das suas dançarinas. No tema muito bem recebido 'Boys Will Be Boys', forma-se um planeta vermelho atrás de Dua Lipa, enquanto o
amontoado de cabeças da plateia e dos balcões se tornava num tapete estrelado de telemóveis no ar.

O segundo intervalo entre atos serviu para mais uns números de dança, incluindo os patinadores, e para outra ida de Dua Lipa ao vestiário
para outra muda de roupa tão rápida quanto uma passagem de um bólide de Fórmula 1 pelas boxes.

No início do 3º ato, o regresso faz-se debaixo de uma plataforma de discoteca, no quadrado da pista na ponta da língua de palco, onde Dua
Lipa dança e salta com os seus dançarinos como se não houvesse amanhã, formando uma roda giratória de braços dados, enquanto balões
são lançados ao ar de forma épica, como se fosse a festa de aniversário de um filho de um milionário.

gora de mini-saia e top, o ecrã gigante apanha-lhe a face do rosto humedecido de suor, quando canta 'Hallucinate', antes do momento
agregador de 'Cold Heart', a versão do tema de Elton John, com Dua Lipa a apertar-se junto das suas cantoras e dançarinos, dando-se uma
grandessíssima ovação às bandeiras das cores de arco-íris do LGBT que se erguiam em palco, ou a Elton John a cantar no ecrã central, ou
talvez aos dois... Ou talvez por uma razão qualquer mais inexplicável que só a palavra alegria poderá traduzir.

á no 4º ato, a tal plataforma luminosa que desce do teto vai agora aterrando com a mesma cerimónia vagarosa de um ovni em câmara lenta
hollywwodesca. As bolas de espelhos transformam-se em balões luminosos e em candeeiros. E estamos já num mundo metamorfoseado e
sci-fi. É a cantar 'Levitating' que Dua Lipa se enfia numa plataforma ainda mais pequena que sobrevoa o público da plateia, com cordas mas
sem balão. Além de saber dançar, Dua Lipa não tem medo das alturas. E levita. Ouvir o funk mais apopalhado e eletrónico de 'Levitating' é
como se os Daft Punk ainda existissem e tivessem convidado Dua Lipa e Jay Kay dos Jamiroquai.

Dua Lipa começa o encore como uma artista a solo no sentido literal do termo, sozinha na ponta da língua do palco e a fazer headbanging
enquanto canta 'Future Nostalgia', antes de terminar o espectáculo com 'Don't Start Now' e com mais um big-bang de alegria e de cores, com
Dua Lipa, os seus dançarinos, as suas quatro cantoras e os seus quatro instrumentistas a ocuparem todas as plataformas de palco, avivadas
de cores e luzes.

Simpática, enérgica, profissional, engraçada. Dua Lipa esteve numa daquelas noites em que tinha as qualidades todas, com os supremos
poderes de uma deusa grega.

Se em 1990 era a altura certa para ver Madonna e a sua 'Vogue', em 2022 a pessoa certa da pop a ver é Dua Lipa. A oportunidade na pop
para se ter estado no local e no momento certos foi nesta noite de 6 de junho, na Altice Arena, em Lisboa. Guardemos todas as fotos e vídeos
que tirámos, porque foi uma noite inesquecível. Tão cedo não haverá outra igual na pop.

								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-l">
						</div>
						<div class="qt-sidebar col s12 m12 l3">
							<!-- SIDEBAR ================================================== -->
							<div class="qt-widgets qt-sidebar-main qt-text-secondary row">
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Stay Connected</span></h5> Subscribe now to the newsletter to receive weekly updates.
										<hr class="qt-spacer-s">
										<form method="post" action="#newsletter" class="qt-inline-form">
											<div class="row qt-nopadding">
												<div class="col s12 m8 l9">
													<input placeholder="Your email" value="" type="text" class="validate qt-input-s">
												</div>
												<div class="col s12 m4 l3">
													<input type="button" value="submit" class="qt-btn qt-btn-secondary qt-btn-s qt-fullwidth">
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Recent Posts</span></h5>
										<!-- POST SMALL TITLE ITEM ========================= -->
										<div class="qt-part-archive-item qt-part-archive-item-small-title">
											<div class="qt-item-header">
												<div class="qt-header-top">
													<ul class="qt-tags">
														<li><a href="#">Adventure</a></li>
													</ul>
												</div>
												<div class="qt-header-mid qt-vc">
													<div class="qt-vi">
														<h4 class="qt-title">
															<a href="#read" class="qt-text-shadow">

															</a>
														</h4>
													</div>
												</div>
												<div class="qt-header-bottom">
													<a href="#read" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-media-play"></i></a>
												</div>
												<div class="qt-header-bg" data-bgimage="imagestemplate/medium-690-302.jpg">
													<img src="imagestemplate/medium-690-302.jpg" alt="Featured image" width="690" height="302">
												</div>
											</div>
										</div>
										<!-- POST SMALL TITLE ITEM END ========================= -->
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small">
											<span>Now on air</span>
										</h5>
										<div class="qt-widget-onair qt-card aligncenter">
											<a href="#post">
												<img src="imagestemplate/thumbnail.jpg" class="qt-featured-image" alt="photo" />
											</a>
											<h4 class="qt-caption-med">
												<span>Sound circus</span>
											</h4>
											<h6 class="qt-onair-title">
												By Tom Shepard
											</h6>
											<p class="qt-small">
												A journey into the music of your best holiday nights, full of melodies and rhythm. Dance and get crazy with Tom Shepard!
											</p>
											<a href="#show" class="qt-btn qt-btn-s qt-btn-secondary">Info and episodes</a>
										</div>
									</div>
								</div>
								<div class="col s12 m3 l12">
									<div class="qt-widget">
										<h5 class="qt-caption-small"><span>Next shows</span></h5>
										<ul class="qt-widget-upcoming">
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
											<li class="qt-card-s paper">
												<h5>
													<a href="#showlink">About Jenny</a>
												</h5>
												<p>
													07:00 pm
												</p>
												<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
											</li>
										</ul>
									</div>
								</div>

							</div>
							<!-- SIDEBAR END ================================================== -->
							<hr class="qt-spacer-l">
						</div>
					</div>
				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .qt-main end -->
			{{template "footer"}}

	</div>


	{{template "player"}}

	{{template "scripts"}}

	</body>
</html>
