<!doctype html>
<html class="no-js" lang="en">

		{{template "head"}}
	<body>
	<!-- QT HEADER END ================================ -->
	<div class="qt-parentcontainer">
		{{template "menu"}}

		{{template "search"}}


			<div id="maincontent" class="qt-main">

				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				  <!-- .qt-main end -->
					  <!-- .qt-main end -->
		<div class="qt-pageheader qt-negative">
			<div class="qt-container">
				<ul class="qt-tags">
					<li>
						<a href="#">
							Category name
						</a>
					</li>
				</ul>
				<h1 class="qt-caption qt-spacer-s">
					EQUIPA
				</h1>
				<h4 class="qt-subtitle">

				</h4>
			</div>
			<div class="qt-header-bg" data-bgimage="imagestemplate/full-1600-700.jpg">
				<img src="imagestemplate/full-1600-700.jpg" alt="Featured image" width="690" height="302">
			</div>
		</div>
		<!-- HEADER CAPTION END ========================= -->


				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-vertical-padding-l qt-archive-team">
					<div class="row">
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
		<div class="qt-part-archive-item qt-item-member">
			<div class="qt-item-header">
				<div class="qt-header-top">
					<ul class="qt-tags">
						<li><a href="#tag-link">LOCUTOR</a></li>
					</ul>
				</div>

				<div class="qt-header-mid qt-vc">
					<div class="qt-vi">
						<h4 class="qt-ellipsis qt-title">
							<a href="equipa-danielgaspar.html" class="qt-text-shadow">Daniel Gaspar</a>
						</h4>
					</div>
				</div>

				<div class="qt-header-bottom">
					<a href="equipa-danielgaspar.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
				</div>
				<div class="qt-header-bg" data-bgimage="imagestemplate/IMG_0129.jpg">
					<img src="imagestemplate/IMG_0129.jpg" alt="Featured image" width="690" height="690">
				</div>
			</div>

			<div class="qt-item-content-xs qt-card">
				<p class="qt-ellipsis-3"> Olá eu sou o Daniel Gaspar, gosto de comer,
					                        dormir e de passear

				</p>
			</div>
		</div>
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
		<div class="qt-part-archive-item qt-item-member">
			<div class="qt-item-header">
				<div class="qt-header-top">
					<ul class="qt-tags">
						<li><a href="#tag-link">LOCUTORA</a></li>
					</ul>
				</div>

				<div class="qt-header-mid qt-vc">
					<div class="qt-vi">
						<h4 class="qt-ellipsis qt-title">
							<a href="equipa-saracorreia.html" class="qt-text-shadow">Sara Correia</a>
						</h4>
					</div>
				</div>

				<div class="qt-header-bottom">
					<a href="equipa-saracorreia.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
				</div>
				<div class="qt-header-bg" data-bgimage="imagestemplate/saracorreia.jpg">
					<img src="imagestemplate/saracorreia.jpg" alt="Featured image" width="690" height="690">
				</div>
			</div>

			<div class="qt-item-content-xs qt-card">
				<p class="qt-ellipsis-3"> Olá eu sou a Sara Correia, gosto de ouvir música,
					                        gosto de comer, e gosto de dormir

				</p>
			</div>
		</div>
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
		<div class="qt-part-archive-item qt-item-member">
			<div class="qt-item-header">
				<div class="qt-header-top">
					<ul class="qt-tags">
						<li><a href="#tag-link">LOCUTOR</a></li>
					</ul>
				</div>

				<div class="qt-header-mid qt-vc">
					<div class="qt-vi">
						<h4 class="qt-ellipsis qt-title">
							<a href="equipa-davidegaspar.html" class="qt-text-shadow">Davide Gaspar</a>
						</h4>
					</div>
				</div>

				<div class="qt-header-bottom">
					<a href="equipa-davidegaspar.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
				</div>
				<div class="qt-header-bg" data-bgimage="imagestemplate/davidegaspar.jpg">
					<img src="imagestemplate/davidegaspar.jpg" alt="Featured image" width="690" height="690">
				</div>
			</div>

			<div class="qt-item-content-xs qt-card">
				<p class="qt-ellipsis-3"> Olá eu sou o Davide Gaspar, sou web disigner
                              da FANTAS FM e sou locutor. A coisa que mais gosto
				</p>                  de fazer é ver series.
			</div>
		</div>
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
		<div class="qt-part-archive-item qt-item-member">
			<div class="qt-item-header">
				<div class="qt-header-top">
					<ul class="qt-tags">
						<li><a href="#tag-link">LOCUTOR</a></li>
					</ul>
				</div>

				<div class="qt-header-mid qt-vc">
					<div class="qt-vi">
						<h4 class="qt-ellipsis qt-title">
							<a href="equipa-nunoreis.html" class="qt-text-shadow">Nuno Reis</a>
						</h4>
					</div>
				</div>

				<div class="qt-header-bottom">
					<a href="equipa-nunoreis.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
				</div>
				<div class="qt-header-bg" data-bgimage="imagestemplate/nunoreis.jpg">
					<img src="imagestemplate/nunoreis.jpg" alt="Featured image" width="690" height="690">
				</div>
			</div>

			<div class="qt-item-content-xs qt-card">
				<p class="qt-ellipsis-3"> Ele é o Nuno Reis e vai estar na FANTAS FM a
					                                  dar-te as tuas favoritas
				</p>
			</div>
		</div>
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
							<div class="qt-part-archive-item qt-item-member">
								<div class="qt-item-header">
									<div class="qt-header-top">
										<ul class="qt-tags">
											<li><a href="#tag-link">Voz da Estaçao</a></li>
										</ul>
									</div>
									<div class="qt-header-mid qt-vc">
										<div class="qt-vi">
											<h4 class="qt-ellipsis qt-title">
												<a href="equipa-claudia-lopes.html" class="qt-text-shadow">Claudia Lopes</a>
											</h4>
										</div>
									</div>

									<div class="qt-header-bottom">
										<a href="equipa-claudia-lopes.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
									</div>
									<div class="qt-header-bg" data-bgimage="imagestemplate/.jpg">
										<img src="imagestemplate/.jpg" alt="Featured image" width="690" height="690">
									</div>
								</div>

								<div class="qt-item-content-xs qt-card">
									<p class="qt-ellipsis-3">
									</p>
								</div>
							</div>
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->
							<div class="qt-part-archive-item qt-item-member">
								<div class="qt-item-header">
									<div class="qt-header-top">
										<ul class="qt-tags">
											<li><a href="#tag-link">LOCTORA/ESTAGIARIA</a></li>
										</ul>
									</div>

									<div class="qt-header-mid qt-vc">
										<div class="qt-vi">
											<h4 class="qt-ellipsis qt-title">
												<a href="equipa - Joanasantos.html" class="qt-text-shadow">JOANA SANTOS</a>
											</h4>
										</div>
									</div>

									<div class="qt-header-bottom">
										<a href="equipa - Joanasantos.html" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-user"></i></a>
									</div>
									<div class="qt-header-bg" data-bgimage="imagestemplate/.jpg">
										<img src="imagestemplate/.jpg" alt="Featured image" width="690" height="690">
									</div>
								</div>

								<div class="qt-item-content-xs qt-card">
									<p class="qt-ellipsis-3"> Ela é a Joana Santos e é estagiaria e loctora da FANTAS FM
										ela vai estar na FANTAS FM a dar-te a melhor musica
									</p>
								</div>
							</div>
							
		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
						<div class="col s12 m4 l3">
							<!-- MEMBER ========================= -->

		<!-- MEMBER END ========================= -->                </div>
					</div>
				</div>

				<div class="qt-pagination qt-content-primary">

				</div>

			</div><!-- .qt-main end -->
			 <div class="qt-footer qt-footerwidgets">
				<div class="qt-section qt-footer-widgets qt-content-primary-light">
					<div class="qt-container">
						<h2 class="qt-footer-logo"><a href="./" class="brand-logo qt-logo-text"><span></span></a></h2>
						<div class="qt-widgets qt-widgets-footer qt-negative qt-spacer-m row">
							<div class="col s12 m3 l3">
								<div class="qt-widget">
			<h5 class="qt-caption-small"><span>Stay Connected</span></h5>
			Subscribe now to the newsletter to receive weekly updates.
			<hr class="qt-spacer-s">
			<form method="post" action="#newsletter" class="qt-inline-form">
				<div class="row qt-nopadding">
					<div class="col s12 m8 l9">
						<input placeholder="Your email" value="" type="text" class="validate qt-input-s">
					</div>
					<div class="col s12 m4 l3">
						<input type="button" value="submit" class="qt-btn qt-btn-secondary qt-btn-s qt-fullwidth">
					</div>
				</div>
			</form>
		</div>                    </div>
							<div class="col s12 m3 l3">
								<div class="qt-widget">
			<h5 class="qt-caption-small"><span>Contacts</span></h5>
			<div class="qt-widget-contacts">
				<p>
					<i class="qticon-home"></i><a href="http://radio.fantasfm.com/">http://radio.fantasfm.com/</a>
				</p>
				<p>
					<i class="qticon-at-sign"></i><a href="mailto:geral@fantasfm.com">geral@fantasfm.com</a>
				</p>
				<p>
					<i class="qticon-phone"></i><a href=""></a>
				</p>
			</div>
		</div>                    </div>
							<div class="col s12 m3 l3">
								<div class="qt-widget">
			<h5 class="qt-caption-small"><span>Sobre</span></h5>
			<div class="qt-widget-about">
				<p>A FANTAS FM da-te as músicas que mais gostas
				.<br>
					<a href="">Discover more <i class="dripicons-arrow-thin-right"></i></a>
				</p>

			</div>
		</div>                    </div>
							<div class="col s12 m3 l3">
								<div class="qt-widget">
			<h5 class="qt-caption-small"><span>Main links</span></h5>
			<ul class="qt-widget-menu qt-list-chevron">
				<li>
					<a href="http://www.qantumthemes.com">Home page</a>
				</li>
				<li>
					<a href="http://www.qantumthemes.com">Shows schedule</a>
				</li>
				<li>
					<a href="http://www.qantumthemes.com">Events archive</a>
				</li>
				<li>
					<a href="http://www.qantumthemes.com">Contacts</a>
				</li>
			</ul>
		</div>                    </div>
						</div>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/full-1600-700.jpg">
						<img src="imagestemplate/full-1600-700.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<div class="qt-footer-bottom qt-content-primary-dark">
					<div class="qt-container">
						<div class="row">
							<div class="col s12 m12 l8">
								FANTAS FM 2019 <a href=""></a>
								<ul class="qt-menu-footer qt-small qt-list-chevron ">

								</ul>
							</div>
							<div class="col s12 m12 l4">
								<ul class="qt-menu-social">
									<li class="right"><a href="#"><i class="qticon-beatport"></i></a></li>
									<li class="right"><a href="#"><i class="qticon-facebook"></i></a></li>
									<li class="right"><a href="#"><i class="qticon-twitter"></i></a></li>
									<li class="right"><a href="#"><i class="qticon-youtube"></i></a></li>
									<li class="right"><a href="#"><i class="qticon-soundcloud"></i></a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>

				</div>        <!-- PLAYER SIDEBAR ========================= -->
		<div id="channelslist" class="side-nav qt-content-primary qt-right-sidebar">
			<a href="#" class="qt-btn qt-btn-secondary button-playlistswitch-close qt-close-sidebar-right" data-activates="channelslist"><i class="icon dripicons-cross"></i></a>
			<!-- PLAYER ========================= -->
		<div  id="qtplayercontainer" data-playervolume="true" data-accentcolor="#dd0e34" data-accentcolordark="#ff0442" data-textcolor="#ffffff" data-soundmanagerurl="./components/soundmanager/swf/"
		class="qt-playercontainer qt-playervolume qt-clearfix qt-content-primary">
				<div class="qt-playercontainer-content qt-vertical-padding-m">
					<div class="qt-playercontainer-header">
						<h5 class="qt-text-shadow small">FANTAS FM</h5>
						<h3 id="qtradiotitle" class="qt-text-shadow" ></h3>
						<h4 id="qtradiosubtitle" class="qt-thin qt-text-shadow small">A MÚSICA NO RITMO CERTO</h4>
					</div>
					<div class="qt-playercontainer-musicplayer" id="qtmusicplayer">
						<div class="qt-musicplayer">
							<div class="ui360 ui360-vis qt-ui360">
								<a id="playerlink" href="http://176.9.43.216:8178/index.html.mp3"
						</div>
					</div>
					<div class="qt-playercontainer-data qt-container qt-text-shadow small">
						<h6 class="qt-inline-textdeco">
							<span>Current track</span>
						</h6>
						<div class="qt-t qt-current-track">
							<h5 id="qtFeedPlayerTrack">TITLE</h5>
							<h6  class="qt-small" id="qtFeedPlayerAuthor">ARTIST</h6>
						</div>
						<hr class="qt-inline-textdeco">
					</div>
				</div>
				<div id="playerimage" class="qt-header-bg" data-bgimage="imagestemplate/image.jpg">
					<img src="imagestemplate/image.jpg" alt="Featured image" width="690" height="302">
				</div>

		</div>
		<!-- this is for xml radio feed -->
		<div id="qtShoutcastFeedData" class="hidden" data-style="" data-channel="1" data-host="" data-port""></div>
		<!-- PLAYER END ========================= -->
			<!-- CHANNELS LIST ========================= -->
		<div class="qt-part-channels-list">
			<ul class="qt-content-aside qt-channelslist qt-negative">
				<li class="qt-channel">
					<a href="#!" class="qt-ellipsis"
						data-title=""
						data-subtitle=""
						data-background="imagestemplate/"
						data-logo="imagestemplate/"
						data-playtrack=""
						data-host=""
						data-port=""
						data-stats_path=""
						data-played_path=""
						data-channel="">
						<img src="imagestemplate/radio-logo.png" alt="logo" class="qt-radiologo dripicons-media-play" width="80" height="80">
						<i class="dripicons-media-play"></i>

					</a>
				</li>

				<li class="qt-channel">
					<a href="#!" class="qt-ellipsis"
						data-title=""
						data-subtitle=""
						data-background="imagestemplate/.jpg"
						data-logo="imagestemplate/.png"
						data-playtrack=""
						data-played_path=""
						data-channel="">
						<img src="imagestemplate/" alt="logo" class="qt-radiolog0" width="80" height="80">
						<i class="dripicons-media-play"></i>

					</a>
				</li>
			</ul>
		</div>
		<!-- CHANNELS LIST END ========================= -->
		</div>
		<!-- PLAYER SIDEBAR END ========================= -->        <!-- QT BODY END ================================ -->

		<!-- QT FOOTER SCRIPTS ================================ -->
		<script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		<script src="js/jquery.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->
		<script src="js/jquery-migrate.min.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->

		<!-- Framework -->
		<script src="js/materializecss/bin/materialize.min.js"></script>

		<!-- Cookies for player -->
		<script src="js/jquerycookie.js"></script>

		 <!-- Slick carousel and skrollr -->
		<script src="components/slick/slick.min.js"></script>
		<script src="components/skrollr/skrollr.min.js"></script>

		<!-- Swipebox -->
		<script src="components/swipebox/lib/ios-orientationchange-fix.js"></script>
		<script src="components/swipebox/src/js/jquery.swipebox.min.js"></script>

		<!-- Countdown -->
		<script src="components/countdown/js/jquery.knob.js"></script>
		<script src="components/countdown/js/jquery.throttle.js"></script>
		<script src="components/countdown/js/jquery.classycountdown.min.js"></script>

		<!-- Soundmanager2 -->
		<!--[if IE]><script src="components/soundmanager/script/excanvas.js"></script><![endif]-->
		<script src="components/soundmanager/script/berniecode-animator.js"></script>
		<script src="components/soundmanager/script/soundmanager2-nodebug.js"></script>
		<script src="components/soundmanager/script/shoutcast.js"></script>
		<script src="components/soundmanager/templates/qtradio-player/script/qt-360player-volumecontroller.js"></script>

		<!-- Popup -->
		<script src="components/popup/popup.js"></script>

		<!-- Centova -->
 	 <script src="js/centova/config.js"></script>
 	 <script src="js/centova/data.js"></script>
 	 <script src="js/centova/get.js"></script>


		<!-- MAIN JAVASCRIPT FILE ================================ -->
		<script src="js/qt-main.js"></script>

	</body>
</html>
