<!doctype html>
<html class="no-js" lang="en">

	{{template "head"}}

	<body>

		<div class="qt-parentcontainer">

			{{template "menu"}}

			{{template "search"}}

			<div id="maincontent" class="qt-main">

				{{template "slide"}}

				{{template "upcoming-shows"}}

				{{template "hero-post"}}

				{{template "post-slide"}}

				{{template "hero-video"}}

				{{template "video-list"}}

				{{template "spacer"}}

				{{template "chart"}}

				{{template "sponsors"}}

			</div>

			{{template "footer"}}

		</div>

		{{template "player"}}

		{{template "scripts"}}

	</body>
</html>
