<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
           FC Porto empata com Boavista e pode ficar mais longe da liderança
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/sergio7.jpg">
						<img src="imagestemplate/sergio7.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
O FC Porto empatou hoje 2-2 na receção ao Boavista, na 19.ª jornada da I Liga portuguesa de futebol, numa partida em que os ‘dragões’ falharam um penálti e viram um golo ser anulado já perto do final.

No estádio do Dragão, o Boavista adiantou-se no marcador aos oito minutos, com um golo de Porozo, e ampliou a vantagem aos 45+1, por intermédio de Elis. Na segunda parte o FC Porto reduziu por Taremi, aos 54, e chegou ao empate aos 82, com Sérgio Oliveira a apontar uma grande penalidade.

Pouco depois, o médio internacional português desperdiçou nova grande penalidade, com o árbitro Manuel Mota a anular um golo de Evanilson já perto do fim, depois de analisar as imagens.

Com este empate, o terceiro seguido no campeonato, o FC Porto está no segundo lugar, com 41 pontos, a sete do líder Sporting, que tem menos um jogo e pode aumentar a vantagem, enquanto o Boavista está em 17.º, com 15.
								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/author-thumbnail.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
