<!doctype html>
<html class="no-js" lang="en">

	{{template "head"}}
	<body>
	<!-- QT HEADER END ================================ -->
	<div class="qt-parentcontainer">

	   {{template "menu"}}

	   {{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="/category/noticias/" rel"=category tag">noticias</a>

								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
              Há música nova de Rosalía. Oiça aqui 'Juro Que'
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/rosalia-2019.jpg">
						<img src="imagestemplate/rosalia-2019.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
								<p><strong></strong></p> <iframe width="895" height="503" src="https://www.youtube.com/embed/mtym36PG6R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								É a primeira amostra daquilo que deverá ser o ano de Rosalía: muito intenso. A cantora espanhola acabou de partilhar o vídeo para o novo tema 'Juro Que', canção que tem a alma flamenca completamente exposta.

O vídeo também foi mostrado aos fãs. A realização é de Tanu Muino e tem a participação do ator espanhol Omar Ayuso - mais conhecido por fazer parte da série da Netflix, "Elite".

Rosalía está nomeada para dois Grammys. A cantora está na lista de nomeados nas categorias de Melhor Novo Artista e Melhor Álbum Latino Rock, Urbano ou Alternativo.

A cerimónia dos Grammys está marcada para o dia 26 de janeiro, dia em que as atenções vão estar todas viradas para Los Angeles, nos Estados Unidos.
<h2></h2>
<h3></h3>
<h4></h4>
<h5></h5>
<h6></h6>
<h2></h2>
<p></p>

	<p></p>
</>
<p></p>

	<p>
		<cite></cite>
	</p>
</>

		</tr>
	</tbody>
</table>

</ol>

<!-- POST CONTENT END ========================= -->
</div>
<hr class="qt-spacer-l">
</div>
<div class="qt-sidebar col s12 m12 l3">
<!-- SIDEBAR ================================================== -->
<div class="qt-widgets qt-sidebar-main qt-text-secondary row">
<div class="col s12 m3 l12">
	<div class="qt-widget">
		<h5 class="qt-caption-small"><span>Stay Connected</span></h5> Subscribe now to the newsletter to receive weekly updates.
		<hr class="qt-spacer-s">
		<form method="post" action="#newsletter" class="qt-inline-form">
			<div class="row qt-nopadding">
				<div class="col s12 m8 l9">
					<input placeholder="Your email" value="" type="text" class="validate qt-input-s">
				</div>
				<div class="col s12 m4 l3">
					<input type="button" value="submit" class="qt-btn qt-btn-secondary qt-btn-s qt-fullwidth">
				</div>
			</div>
		</form>
	</div>
</div>
<div class="col s12 m3 l12">
	<div class="qt-widget">
		<h5 class="qt-caption-small"><span>Recent Posts</span></h5>
		<!-- POST SMALL TITLE ITEM ========================= -->
		<div class="qt-part-archive-item qt-part-archive-item-small-title">
			<div class="qt-item-header">
				<div class="qt-header-top">
					<ul class="qt-tags">
						<li><a href="#">Adventure</a></li>
					</ul>
				</div>
				<div class="qt-header-mid qt-vc">
					<div class="qt-vi">
						<h4 class="qt-title">
							<a href="#read" class="qt-text-shadow">

							</a>
						</h4>
					</div>
				</div>
				<div class="qt-header-bottom">
					<a href="#read" class="qt-btn qt-btn-primary qt-readmore"><i class="dripicons-media-play"></i></a>
				</div>
				<div class="qt-header-bg" data-bgimage="imagestemplate/medium-690-302.jpg">
					<img src="imagestemplate/medium-690-302.jpg" alt="Featured image" width="690" height="302">
				</div>
			</div>
		</div>
		<!-- POST SMALL TITLE ITEM END ========================= -->
	</div>
</div>
<div class="col s12 m3 l12">
	<div class="qt-widget">
		<h5 class="qt-caption-small">
			<span>Now on air</span>
		</h5>
		<div class="qt-widget-onair qt-card aligncenter">
			<a href="#post">
				<img src="imagestemplate/thumbnail.jpg" class="qt-featured-image" alt="photo" />
			</a>
			<h4 class="qt-caption-med">
				<span>Sound circus</span>
			</h4>
			<h6 class="qt-onair-title">
				By Tom Shepard
			</h6>
			<p class="qt-small">
				A journey into the music of your best holiday nights, full of melodies and rhythm. Dance and get crazy with Tom Shepard!
			</p>
			<a href="#show" class="qt-btn qt-btn-s qt-btn-secondary">Info and episodes</a>
		</div>
	</div>
</div>
<div class="col s12 m3 l12">
	<div class="qt-widget">
		<h5 class="qt-caption-small"><span>Next shows</span></h5>
		<ul class="qt-widget-upcoming">
			<li class="qt-card-s paper">
				<h5>
					<a href="#showlink">About Jenny</a>
				</h5>
				<p>
					07:00 pm
				</p>
				<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
			</li>
			<li class="qt-card-s paper">
				<h5>
					<a href="#showlink">About Jenny</a>
				</h5>
				<p>
					07:00 pm
				</p>
				<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
			</li>
			<li class="qt-card-s paper">
				<h5>
					<a href="#showlink">About Jenny</a>
				</h5>
				<p>
					07:00 pm
				</p>
				<img src="imagestemplate/thumbnail-200-110.jpg" alt="Show cover" width="200" height="110" class="right">
			</li>
		</ul>
	</div>
</div>

</div>
<!-- SIDEBAR END ================================================== -->
<hr class="qt-spacer-l">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- .qt-main end -->
<div class="qt-footer qt-footerwidgets">
<div class="qt-section qt-footer-widgets qt-content-primary-light">
<div class="qt-container">
<h2 class="qt-footer-logo"><a href="./" class="brand-logo qt-logo-text"><span></span></a></h2>
<div class="qt-widgets qt-widgets-footer qt-negative qt-spacer-m row">
<div class="col s12 m3 l3">
<div class="qt-widget">
	<h5 class="qt-caption-small"><span>Stay Connected</span></h5> Subscribe now to the newsletter to receive weekly updates.
	<hr class="qt-spacer-s">
	<form method="post" action="#newsletter" class="qt-inline-form">
		<div class="row qt-nopadding">
			<div class="col s12 m8 l9">
				<input placeholder="Your email" value="" type="text" class="validate qt-input-s">
			</div>
			<div class="col s12 m4 l3">
				<input type="button" value="submit" class="qt-btn qt-btn-secondary qt-btn-s qt-fullwidth">
			</div>
		</div>
	</form>
</div>
</div>
<div class="col s12 m3 l3">
<div class="qt-widget">
	<h5 class="qt-caption-small"><span>Contacts</span></h5>
	<div class="qt-widget-contacts">
		<p>
			<i class="qticon-home"></i><a href="http://radio.fantasfm.com">http://radio.fantasfm.com</a>
		</p>
		<p>
			<i class="qticon-at-sign"></i><a href="mailto:geral@fantasfm.com">geral@fantasfm.com</a>
		</p>
		<p>
			<i class="qticon-phone"></i><a href="tel:"></a>
		</p>
	</div>
</div>
</div>
<div class="col s12 m3 l3">
<div class="qt-widget">
	<h5 class="qt-caption-small"><span>Sobre</span></h5>
	<div class="qt-widget-about">
		<p>A FANTAS FM da-te as músicas que mais gostas

			<br>
			<a href="">Discover more <i class="dripicons-arrow-thin-right"></i></a>
		</p>
	</div>
</div>
</div>
<div class="col s12 m3 l3">
<div class="qt-widget">
	<h5 class="qt-caption-small"><span>Main links</span></h5>
	<ul class="qt-widget-menu qt-list-chevron">
		<li>
			<a href="http://www.qantumthemes.com">Home page</a>
		</li>
		<li>
			<a href="http://www.qantumthemes.com">Shows schedule</a>
		</li>
		<li>
			<a href="http://www.qantumthemes.com">Events archive</a>
		</li>
		<li>
			<a href="http://www.qantumthemes.com">Contacts</a>
		</li>
	</ul>
</div>
</div>
</div>
</div>
<div class="qt-header-bg" data-bgimage="imagestemplate/full-1600-700.jpg">
<img src="imagestemplate/full-1600-700.jpg" alt="Featured image" width="690" height="302">
</div>
</div>
<div class="qt-footer-bottom qt-content-primary-dark">
<div class="qt-container">
<div class="row">
<div class="col s12 m12 l8">
FANTAS FM 2019 <a href=""></a>
<ul class="qt-menu-footer qt-small qt-list-chevron ">

</ul>
</div>
<div class="col s12 m12 l4">
<ul class="qt-menu-social">
	<li class="right"><a href="#"><i class="qticon-beatport"></i></a></li>
	<li class="right"><a href="#"><i class="qticon-facebook"></i></a></li>
	<li class="right"><a href="#"><i class="qticon-twitter"></i></a></li>
	<li class="right"><a href="#"><i class="qticon-youtube"></i></a></li>
	<li class="right"><a href="#"><i class="qticon-soundcloud"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- PLAYER SIDEBAR ========================= -->
<div id="channelslist" class="side-nav qt-content-primary qt-right-sidebar">
<a href="#" class="qt-btn qt-btn-secondary button-playlistswitch-close qt-close-sidebar-right" data-activates="channelslist"><i class="icon dripicons-cross"></i></a>
<!-- PLAYER ========================= -->
<div id="qtplayercontainer" data-playervolume="true" data-accentcolor="#dd0e34" data-accentcolordark="#ff0442" data-textcolor="#ffffff" data-soundmanagerurl="./components/soundmanager/swf/" class="qt-playercontainer qt-playervolume qt-clearfix qt-content-primary">
<div class="qt-playercontainer-content qt-vertical-padding-m">
<div class="qt-playercontainer-header">
<h5 class="qt-text-shadow small"></h5>
<h3 id="qtradiotitle" class="qt-text-shadow">FANTAS FM</h3>
<h4 id="qtradiosubtitle" class="qt-thin qt-text-shadow small">A MÚSICA NO RITMO CERTO</h4>
</div>
<div class="qt-playercontainer-musicplayer" id="qtmusicplayer">
<div class="qt-musicplayer">
<div class="ui360 ui360-vis qt-ui360">
<a id="playerlink" href="http://176.9.43.216:8178/index.html.mp3"></a>
</div>
</div>
</div>
<div class="qt-playercontainer-data qt-container qt-text-shadow small">
<h6 class="qt-inline-textdeco">
<span>Current track</span>
</h6>
<div class="qt-t qt-current-track">
<h5 id="qtFeedPlayerTrack">TITLE</h5>
<h6 class="qt-small" id="qtFeedPlayerAuthor">ARTIST</h6>
</div>
<hr class="qt-inline-textdeco">
</div>
</div>
<div id="playerimage" class="qt-header-bg" data-bgimage="imagestemplate/image.jpg">
<img src="imagestemplate/image.jpg" alt="Featured image" width="690" height="302">
</div>
</div>
<!-- this is for xml radio feed -->
<div id="qtShoutcastFeedData" class="hidden" data-style="" data-channel="1" data-host="" data-port=""></div>
<!-- PLAYER END ========================= -->
<!-- CHANNELS LIST ========================= -->
<div class="qt-part-channels-list">
<ul class="qt-content-aside qt-channelslist qt-negative">
<li class="qt-channel">
<a href="#!" class="qt-ellipsis" data-title="" data-subtitle="" data-background="imagestemplate/photo-squared-500-500.jpg" data-logo="imagestemplate/radio-logo.png" data-playtrack="http://173.192.105.231:3540/stream.mp3" data-host="173.192.105.231" data-port="3540" data-stats_path="" data-played_path="" data-channel="">
<img src="imagestemplate/radio-logo.png" alt="logo" class="qt-radiologo dripicons-media-play" width="80" height="80">
<i class="dripicons-media-play"></i>
</a>
</li>
<li class="qt-channel">
<a href="#!" class="qt-ellipsis" data-title="" data-subtitle="" data-background="imagestemplate/large-1170-512.jpg" data-logo="imagestemplate/radio-logo.png" data-playtrack="http://82.77.137.30:8557/;listen.mp3" data-host="82.77.137.30" data-port="8557" data-stats_path="" data-played_path="" data-channel="">
<img src="imagestemplate/radio-logo.png" alt="logo" class="qt-radiologo" width="80" height="80">
<i class="dripicons-media-play"></i>
</a>
</li>
</ul>
</div>
<!-- CHANNELS LIST END ========================= -->
</div>
<!-- PLAYER SIDEBAR END ========================= -->
<!-- QT BODY END ================================ -->

<!-- QT FOOTER SCRIPTS ================================ -->
<script src="js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="js/jquery.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->
<script src="js/jquery-migrate.min.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->

<!-- Framework -->
<script src="js/materializecss/bin/materialize.min.js"></script>

<!-- Cookies for player -->
<script src="js/jquerycookie.js"></script>

<!-- Slick carousel and skrollr -->
<script src="components/slick/slick.min.js"></script>
<script src="components/skrollr/skrollr.min.js"></script>

<!-- Swipebox -->
<script src="components/swipebox/lib/ios-orientationchange-fix.js"></script>
<script src="components/swipebox/src/js/jquery.swipebox.min.js"></script>

<!-- Countdown -->
<script src="components/countdown/js/jquery.knob.js"></script>
<script src="components/countdown/js/jquery.throttle.js"></script>
<script src="components/countdown/js/jquery.classycountdown.min.js"></script>

<!-- Soundmanager2 -->
<!--[if IE]><script src="components/soundmanager/script/excanvas.js"></script><![endif]-->
<script src="components/soundmanager/script/berniecode-animator.js"></script>
<script src="components/soundmanager/script/soundmanager2-nodebug.js"></script>
<script src="components/soundmanager/script/shoutcast.js"></script>
<script src="components/soundmanager/templates/qtradio-player/script/qt-360player-volumecontroller.js"></script>

<!-- Popup -->
<script src="components/popup/popup.js"></script>

<!-- Centova -->
<script src="js/centova/config.js"></script>
<script src="js/centova/data.js"></script>
<script src="js/centova/get.js"></script>


<!-- MAIN JAVASCRIPT FILE ================================ -->
<script src="js/qt-main.js"></script>

</body>
</html>
