<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
            Madragoa vence Marchas Populares de Lisboa
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/marcha1.jpg">
						<img src="imagestemplate/marcha1.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
		O bairro da Madragoa venceu a edição deste ano das Marchas Populares de Lisboa, anunciou hoje a Empresa de Gestão de Equipamentos e
		Animação Cultural (EGEAC), responsável pela organização da iniciativa.

		Alcântara ficou em segundo lugar e em terceiro Alto do Pina (vencedor em 2019), numa edição que regressou após um interregno motivado
		pela pandemia de covid-19.

		Outros 17 grupos competiram este ano: Mouraria, Castelo, Carnide, Bela Flor -- Campolide, Bairro Alto, Bairro da Boavista, Penha de França,
		Lumiar, Belém, Baixa, Campo de Ourique, Alfama, Ajuda, Marvila, Bica, São Vicente e Olivais.

		A EGEAC deu conta em comunicado de outras distinções: Alto da Pina e Madragoa ganharam na categoria de Melhor Coreografia e o Bairro
		Alto a Melhor Cenografia.

		O Melhor Figurino foi atribuído a Alfama e Madragoa, enquanto Penha de França e São Vicente foram premiados na categoria de Melhor
		Letra.

		Alfama e Alto do Pina venceram na Melhor Musicalidade, enquanto a Melhor Composição Original foi atribuída a "Corte e Cose" da Penha de
		França.

		O Melhor Desfile da Avenida foi para a marcha de Madragoa.

		A Marcha Popular Vale do Açor, a convidada deste ano, abriu o desfile. Seguiu-se a Marcha Infantil das Escolas de Lisboa, em estreia na
		Avenida da Liberdade, e as três marchas extraconcurso: "A Voz do Operário", Mercados e Santa Casa.

								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
