<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
   Mais de 830 mil declarações de IRS entregues nos primeiros dias da campanha
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/calculador1.jpg">
						<img src="imagestemplate/calculador1.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
						Mais de 830 mil declarações de IRS foram submetidas no Portal das Finanças nos primeiros dias do prazo de três meses de que os
						contribuintes dispõem para declarar os rendimentos relativos a 2021.

						De acordo com os dados disponibilizados no Portal das Finanças, até ao início deste quarto dia desta campanha do IRS, tinham sido
						submetidas 836.431 declarações, das quais 708.478 correspondem a contribuintes que no ano passado obtiveram apenas rendimentos das
						categorias A e/ou H (trabalho dependente e/ou pensões).

						As restantes 127.953 declarações já submetidas são de contribuintes que auferiram rendimentos de outras tipologias, nomeadamente de
						trabalho independente, prediais ou de capitais, entre outros.

						Do total já entregue, mais de metade (456,4 mil declarações) foram submetidas até às 18h00 do primeiro dia da campanha, segundo os
						dados divulgados na sexta-feira pelo Ministério das Finanças.

						A mesma informação adiantava que 54% daquelas declarações tinha chegado através do IRS Automático.

            A entrega da declaração anual dos rendimentos obtidos em 2021 iniciou-se em 01 de abril e termina em 30 de junho, estando previsto que o
						processamento dos primeiros reembolsos ocorra ainda durante a primeira quinzena deste mês.

Em declarações à Lusa, antes do início da campanha do IRS, o secretário de Estado dos Assuntos Fiscais, António Mendonça Mendes, afirmou
que há condições para que este ano se regresse aos prazos de reembolsos observados no período pré-pandemia e que "são prazos que
andam à volta dos cerca de 17 dias em média", após a entrega da declaração.

Esta média, resulta do prazo médio entre 11 e 12 dias para o processamento dos reembolsos do IRS automático e de entre 19 e 20 dias para
o IRS manual.

Este ano, pela primeira vez, a nota de liquidação do IRS juntará à informação que já disponibiliza (valor do rendimento, deduções, retenção na
fonte ou desconto proporcionado pelo município, por exemplo) a taxa efetiva de imposto paga pelo contribuinte.

O objetivo é, precisou Mendonça Mendes, mostrar a cada contribuinte quanto paga efetivamente de imposto.
							  <!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
