<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
            Semana começa com descida do preço dos combustíveis
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/abastecer_1.jpg">
						<img src="imagestemplate/abastecer_1.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
		O preço por litro de gasóleo deverá descer a partir de hoje 12 cêntimos e o da gasolina quatro cêntimos, segundo perspetiva o Governo que,
		apesar da descida, vai manter a redução das taxas do ISP

		Perante a evolução dos mercados, perspetiva-se que esta semana os preços dos combustíveis recuem "na ordem dos 12 cêntimos por litro
		de gasóleo e de quatro cêntimos por litro de gasolina", referiu o Ministério das Finanças num comunicado divulgado no final da semana
		passada.

		De acordo com o mecanismo que compensa através do ISP a subida ou descida da receita do IVA causada pela evolução do preço dos
combustíveis, a descida dos preços do gasóleo e da gasolina verificada deveria, assim, resultar num agravamento do Imposto Sobre os
Produtos Petrolíferos (ISP).

Porém, e tendo em conta o atual contexto, o Governo optou por diferir este ajustamento para o momento em que se concretize a descida do
ISP pela aplicação da fórmula, tal como aconteceu na última semana, segundo explicou o ministério liderado por Fernando Medina.

Desta forma, durante esta semana, vai manter-se o desconto temporário do ISP de 4,7 cêntimos por litro de gasóleo e 3,7 cêntimos por litro
de gasolina. Estes descontos incorporam a redução do ISP de dois cêntimos por litro de gasolina e de um cêntimo por litro de gasóleo que
está em vigor desde outubro.

Para a composição do preço de venda ao público do litro de combustível contribui o preço do produto propriamente dito, onde o Governo
não intervém, o ISP (de montante fixo) e o IVA, que incide sobre a soma destes dois e cujo valor aumenta quando a base sobe.
								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
