<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">

							</h1>
							<h4 class="qt-subtitle">
       SUMOL SUMMER FEST VOLTA EM 2023 EM NOVO LOCAL
							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/sumol-summer-fest1550888c_vertical.jpg">
						<img src="imagestemplate/sumol-summer-fest1550888c_vertical.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
								Dias 30 de junho e 1 de julho.

            O  Sumol Summer Fest está de volta em 2023 e numa nova "casa": o
							Parque de Campismo do Inatel, mesmo ao lado da Praia de São
							João na Costa da Caparica. Nos dias 30 de junho e 1 de julho.

							Desde 2009 que o Sumol Summer Fest é sinónimo de celebração
							- de praia, de verão, de amigos e de música. E no próximo ano,
							não vai ser diferente… vai ser ainda melhor!

							As novidades do cartaz vão chegar brevemente. Até lá, os bilhetes* já
							estão à venda em meoblueticket.pt e nos locais habituais, com preços
							especiais até 31 de dezembro.

                 O Fã Pack exclusivo FNAC Sumol Summer Fest também já está
								 disponível, nas lojas FNAC e em fnac.pt. Em quantidade limitada e com
								 o preço irrepetível de apenas 40€, inclui o passe de dois dias com
								 campismo, tote bag exclusiva, oferta de 1 bebida rebatível nos bares do
								 Festival e há ainda 10 packs dourados premiados com acesso duplo à
								 zona VIP. O presente de Natal perfeito a não perder!

								 *Preço dos bilhetes:

								 Fã Pack exclusivo FNAC, quantidade limitada – 40€
								 Até 31 de dezembro:
								 Passe 2 dias com Camping – 45€
								 Passe 2 dias sem Camping – 35€
								 Bilhete diário – 27€
								 Passe combinado MEO Sudoeste + Sumol Summer Fest – 140€

							  <!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
