<!doctype html>
<html class="no-js" lang="en">
{{template "head"}}


	<body>
	<!-- QT HEADER END ================================ -->
		<div class="qt-parentcontainer">
		{{template "menu"}}
		{{template "search"}}

			<div id="maincontent" class="qt-main">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div class="qt-pageheader qt-negative">
					<div class="qt-container">
						<ul class="qt-tags">
							<li>
								<a href="#">
									noticias
								</a>
							</li>
							</ul>
							<h1 class="qt-caption qt-spacer-s">
              Toby Price, da KTM, vence primeira especial no Dakar
							</h1>
							<h4 class="qt-subtitle">

							</h4>
					</div>
					<div class="qt-header-bg" data-bgimage="imagestemplate/untitled_6.jpg">
						<img src="imagestemplate/untitled_6.jpg" alt="Featured image" width="690" height="302">
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= CONTENT SECTION ======================= -->
				<div class="qt-container qt-spacer-l">
					<div class="row">
						<div class="col s12 m12 l1 qt-pushpin-container">
							<div class="qt-pushpin">
								<!-- SHARE FUNCTIONS ================================================== -->
								<ul class="qt-sharepage qt-content-primary">
									<li class="hide-on-med-and-down">
										<i class="qticon-share qt-shareicon qt-content-primary-dark"></i>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-facebook"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-twitter"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-googleplus"></i>
										</a>
									</li>
									<li>
										<a class="qt-popupwindow qt-sharelink" data-name="Music Player" data-width="600" data-height="500" target="_blank" href="#">
											<i class="qticon-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#" class="qt-btn-primary qt-sharelink"><i class="dripicons-heart"></i>
										</a>
									</li>
								</ul>
								<!-- SHARE FUNCTIONS ================================================== -->
							</div>
							<hr class="qt-spacer-m">
						</div>
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!-- POST CONTENT ========================= -->
							O australiano Toby Price (KTM) venceu hoje a primeira especial do rali Dakar de todo-o-terreno, na competição das motas, e assumiu a
							liderança da classificação geral.

							O piloto da KTM aproveitou o tempo perdido pelos principais adversários da Honda, o norte-americano Ricky Brabec e o espanhol Joan
							Barreda, que abriram a pista esta manhã, para dar um passo importante rumo à reconquista do troféu.

							Price concluiu os 277 quilómetros da especial de hoje, que ligou Jeddah a Bisha, com 1.29 minutos de vantagem sobre o argentino Kevin
							Benavides (Honda) e 2.49 minutos sobre o austríaco Mathias Walkner (KTM).

							<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Opening stage went well! Made the finish line, looked after the tyres and bike but navigation was very tricky. Happy to take the stage. It’s been a good clean day for us with a few minor mistakes, just got to stay calm and make it work! <a href="https://twitter.com/hashtag/Dakar2021?src=hash&amp;ref_src=twsrc%5Etfw">#Dakar2021</a> <a href="https://t.co/gRU4DTYDL6">pic.twitter.com/gRU4DTYDL6</a></p>&mdash; Toby Price (@tobyprice87) <a href="https://twitter.com/tobyprice87/status/1345681280352935936?ref_src=twsrc%5Etfw">January 3, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

							Joaquim Rodrigues Jr. (Hero) foi o melhor português, terminando integrado no grupo dos primeiros pilotos em pista, cedendo 13.11
							minutos para o vencedor, estando provisoriamente na 17.ª posição.

							O luso-germânico Sebastian Bühler (Hero) foi 19.º, a 28.36 minutos.
							A prova tem partida e chegada em Jeddah, com cerca de oito mil quilómetros de percurso, terminando no dia 15 de janeiro.

							Hoje, disputa-se a primeira de 12 etapas, que liga Jeddah a Bisha, num total de 622 quilómetros, 277 deles cronometrados.
								<!-- POST CONTENT END ========================= -->
								<!-- AUTHOR PART ========================= -->
								<div class="qt-post-author qt-card">
									<div class="row">
										<div class="qt-post-author-picture col s2 m2 l1 aligncenter">
											<a href="#authorpage">
												<img src="imagestemplate/fantasfm_logo_3.jpg" alt="Author">
											</a>
										</div>
										<div class="qt-post-author-data col s10 m7 l8">
											<h6>Author</h6>
											<h4><a href="#author_page">FANTAS FM</a></h4>
										</div>
										<div class="qt-post-author-link col s12 m3 l3 aligncenter">
											<a href="#authorpage" class="qt-btn qt-btn-large qt-btn-primary">Author's archive</a>
										</div>
									</div>
								</div>
								<!-- AUTHOR PART END ========================= -->
							</div>
							<hr class="qt-spacer-m">
						</div>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	{{template "player"}}
		<!-- QT BODY END ================================ -->

		{{template "scripts"}}

	</body>
</html>
